window.preferences.csd {
    @extend .dialog;

    headerbar {
        @extend .flat;

        viewswitcher button.toggle {
            border-radius: rem(3px);

            image {
                opacity: 0;
                -gtk-icon-size: 0;
            }
        }
    }

    preferencespage > scrolledwindow {
        undershoot.top {
            background:
                linear-gradient(
                    $toplevel-border-color,
                    rgba(black, 0.05) 1px,
                    rgba(black, 0.0) 0.444rem
                );
        }

        > viewport > clamp > box {
            padding-left: rem(12px);
            padding-right: rem(12px);
        }
    }

    preferencesgroup {
        margin-bottom: rem(12px);
    }
}


// preferencespage > scrolledwindow > viewport > clamp > box {
//   margin: 24px 12px;
//   border-spacing: 24px;
// }

// preferencesgroup > box {
//   &, .labels {
//     border-spacing: 6px;
//   }

//   > box.header:not(.single-line) {
//     margin-bottom: 6px;
//   }

//   > box.single-line {
//     min-height: 34px;
//   }
// }
