window.preferences.csd {
    @extend .dialog;

    headerbar {
        @extend .flat;

        viewswitcher button.toggle {
            border-radius: rem(3px);

            image {
                opacity: 0;
                -gtk-icon-size: 0;
            }
        }
    }

    preferencespage > scrolledwindow {
        undershoot.top {
            background:
                linear-gradient(
                    $toplevel-border-color,
                    rgba(black, 0.05) 1px,
                    rgba(black, 0.0) 0.444rem
                );
        }

        > viewport > clamp > box {
            padding-left: rem(12px);
            padding-right: rem(12px);
        }
    }

    preferencesgroup {
        margin-bottom: 2rem;
    }

    leaflet stack + actionbar {
        background: #{'@theme_bg_color'};
        box-shadow:
            outset-highlight(),
            // Intentionally not in ems since it's used as a stroke
            0 0 0 1px #{'@menu_separator'},
            0 rem(-1px) rem(3px) rgba(black, 0.1);
        padding: rem(6px);

        button {
            min-width: rem(60px);
        }
    }
}
