/******************
 * AdwAboutWindow *
 ******************/

window.about {
    @extend .dialog;

    headerbar {
        @extend .flat;
    }

    .main-page {
        > viewport > clamp > box {
            margin: rem(12px);
            border-spacing: rem(6px);

            > box {
                margin-top: rem(18px);
                border-spacing: rem(24px);
            }
        }

        .app-version {
            @extend selection, .flat;

            padding: rem(3px) rem(18px);
            border-radius: 999px;
            margin-top: rem(3px);
        }
    }

    .subpage {

        > viewport > clamp > box {
            margin: rem(18px) rem(12px);
            border-spacing: rem(18px);
        }

        > clamp > textview {
            background: none;
            color: inherit;
        }
    }
}
