toastoverlay toast {
    @extend .osd;

    margin: 0 rem(12px);
    text-shadow: 0 1px 2px #{'alpha(@theme_fg_color, 0.6)'};

    border-spacing: rem(6px);

    // &:dir(ltr) { padding-left: 12px; }
    // &:dir(rtl) { padding-right: 12px; }

    > widget {
        margin: 0 rem(6px);
    }
}
