/* Copyright 2011-2015 elementary LLC.
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/* Strawberry */
@define-color STRAWBERRY_500 #c6262e;

/* Orange */
@define-color ORANGE_500 #f37329;

/* Banana */
@define-color BANANA_500 #f9c440;

/* Lime */
@define-color LIME_300 #9bdb4d;
@define-color LIME_500 #68b723;

/* Blueberry */
@define-color BLUEBERRY_500 #3689e6;

/* Grape */
@define-color GRAPE_300 #Ad65d6;
@define-color GRAPE_500 #7a36b1;

/* Silver */
@define-color SILVER_100 #fafafa;
@define-color SILVER_300 #d4d4d4;
@define-color SILVER_500 #abacae;

/* Slate */
@define-color SLATE_500 #485a6c;

/* Black */
@define-color BLACK_500 #333;
@define-color BLACK_900 #000;

/* Brand Colors */
@define-color colorPrimary @titlebar_color;
@define-color colorAccent @selected_bg_color;
@define-color textColorPrimary shade (@colorPrimary, 0.5);
@define-color textColorPrimaryShadow alpha (shade (@colorPrimary, 1.4), 0.6);

/* Default color scheme */
@define-color base_color #FFF;
@define-color bg_color shade (@base_color, 0.96);
@define-color bg_highlight_color #fff;
@define-color border_color alpha (@BLACK_900, 0.25);
@define-color fg_color @BLACK_500;
@define-color insensitive_color mix(@text_color, @bg_color, 0.31);
@define-color inset_dark_color alpha (@BLACK_900, 0.06);
@define-color inset_dark_color_backdrop alpha (@BLACK_900, 0.03);
@define-color menu_separator alpha (@BLACK_900, 0.15);
@define-color menu_separator_shadow alpha (#fff, 0.8);
@define-color placeholder_text_color shade(@text_color, 2.5);
@define-color progress_row_trough_color @SILVER_300;
@define-color selected_bg_color @BLUEBERRY_500;
@define-color selected_fg_color #FFF;
@define-color text_color @BLACK_500;
@define-color text_shadow_color alpha (#fff, 0.4);
@define-color titlebar_color @SILVER_300;
@define-color title_color shade (@titlebar_color, 0.55);
@define-color title_shadow_color alpha (#fff, 0.6);
@define-color tooltip_bg_color @BLACK_900;
@define-color tooltip_fg_color #FFF;
@define-color internal_element_color mix(@text_color, @base_color, 0.4);
@define-color internal_element_prelight mix(@text_color, @base_color, 0.2);

/* Colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color attention_color @BLUEBERRY_500;
@define-color link_color @BLUEBERRY_500;
@define-color warning_color @BANANA_500;
@define-color error_color @STRAWBERRY_500;
@define-color success_color @LIME_300;
@define-color insensitive_fg_color @SILVER_500;

@import url("gtk-widgets.css");
@import url("granite-widgets.css");
@import url("apps.css");
@import url("animate.css");
