style "nautilus-window-base"
{
	bg[NORMAL]	= @fm_color
}

style "nautilus-sidebar" {

	font_name 	                  = "Regular"

	GtkTreeView::odd_row_color		= "#e2e2e2"
	GtkTreeView::even_row_color		= "#e2e2e2"

      # these make the padding from left window edge a little more sane
	GtkTreeView::vertical_separator           = 4
	GtkTreeView::horizontal_separator         = 15
	GtkTreeView::indent-expanders             = 1 # 1 means TRUE
	GtkTreeView::expander-size                = 8
	GtkExpander::expander_spacing             = 16
	GtkButton::image_spacing                  = 4
      	xthickness                                = 8
	ythickness                                = 0
}

style "nautilus-view"
{
	xthickness		= 0
	ythickness		= 0
}

style "nautilus-handle"
{
	GtkPaned::handle-size         = 2
	
	engine "pixmap"
	{
		image # for the thin gray line separating the sidepane and viewpane
		{
		    function	= HANDLE
		    recolorable	= TRUE
		    file		= "Handles/handle-nautilus.png"
		    stretch		= TRUE
		    border 		= { 0, 0, 0, 0 }
		}
	}
}

style "nautilus-statusbar"
{
	xthickness	= 4

	bg[NORMAL]	= @fm_color
	bg[PRELIGHT]	= shade (1.16, mix (0.1, @bg_color, @selected_bg_color))
	bg[SELECTED]	= @fg_color

	base[SELECTED]	= shade (0.8, @selected_bg_color)

	fg[NORMAL]	= mix (0.4, @fm_color, @text_color)
	fg[PRELIGHT]	= mix (0.4, @fm_color, @text_color)
	fg[SELECTED]	= mix (0.4, @fm_color, @text_color)
	fg[ACTIVE]	= mix (0.4, @fm_color, @text_color)
	fg[INSENSITIVE]	= mix (0.4, @fm_color, @text_color)

	engine "pixmap" 
	{

	    image
	    {
	     	function	= RESIZE_GRIP
		recolorable	= TRUE
		detail		= "statusbar"
		overlay_file	= "Handles/resize_grip.png"
		overlay_border	= {0,0,0,0 }
		overlay_stretch	= FALSE
	    }
      }
}

style "nautilus-scale"
{
	ythickness = 0
	
  engine "pixmap" 
  {
    image 
    {
      function			= BOX
      recolorable		= TRUE
      detail			= "trough"
      file			= "Range/trough.png"
      border			= { 10, 10, 5, 15 }
      stretch			= TRUE
      orientation		= HORIZONTAL
    }	
    image 
    {
      function			= SLIDER
      recolorable		= TRUE
      state           		= NORMAL
      file			= "Others/null.png"
      border			= { 0, 0, 0, 0 }
      stretch			= TRUE
      overlay_file		= "Range/slider.png"
      overlay_stretch		= FALSE
      orientation		= HORIZONTAL
    }
    image 
    {
      function			= SLIDER
      recolorable		= TRUE
     state           		= PRELIGHT
      file			= "Others/null.png"
      border			= { 0, 0, 0, 0 }
      stretch			= TRUE
      overlay_file		= "Range/slider-prelight.png"
      overlay_stretch		= FALSE
      orientation		= HORIZONTAL
    }
    image 
    {
      function			= SLIDER
      recolorable		= TRUE
      state           		= INSENSITIVE
      file			= "Others/null.png"
      border			= { 0, 0, 0, 0 }
      stretch			= TRUE
      overlay_file		= "Range/slider.png"
      overlay_stretch		= FALSE
      orientation		= HORIZONTAL
    }
  }
}


style "nautilus-scale2"	= "equinox-scale"
{
	bg[NORMAL]	= @bg_color
	bg[PRELIGHT]	= shade (1.16, mix (0.1, @bg_color, @selected_bg_color))
	bg[SELECTED]	= shade (0.8, @selected_bg_color)

	base[SELECTED]	= @bg_color

	engine "equinox" {
	scalesliderstyle = 2
	}
}

style "nautilus-mode-button"
{
	bg[NORMAL]	= shade (1.15, @bg_color)
	bg[PRELIGHT]	= shade (1.22, @selected_bg_color)
	bg[SELECTED]	= shade (0.85, @bg_color)

	engine "murrine" {
		gradient_shades     = {1.15,1.05,1.04,0.9}
	}

}

style "nautilus-toolbar" 
{
	bg[NORMAL]        = @bg_color

	engine "murrine" {
		toolbarstyle		= 1
		lightborder_shade	= 1.0
		gradient_shades     	= {1.0,0.94,0.94,0.88}
	}
}

style "nautilus-menubar" = "murrine-menubar"
{
	GtkMenuBar:: shadow-type = GTK_SHADOW_NONE
}

widget_class "*Nautilus*Window*"		style "nautilus-window-base"
widget "*Nautilus*Splitter"                    	style "nautilus-handle"
widget_class "*Nautilus*View*"			style "nautilus-view"
widget_class "*Nautilus*Places*Sidebar*"	style "nautilus-sidebar"
widget_class "*Nautilus*Statusbar*"		style "nautilus-statusbar"
widget_class "*Nautilus*Scale*"			style "nautilus-scale"

widget_class "*Nautilus*Toolbar*"		style "nautilus-toolbar"
widget_class "*Nautilus*Toolbar*Button"		style:highest "equinox-button"
widget_class "*Nautilus*Menu*"			style "murrine-menu"
widget_class "*Nautilus*MenuBar*"		style "nautilus-menubar"

widget "*.nautilus-extra-view-widget*"		style:highest "elementary-dark"
widget "*GtkModeButton*"			style "nautilus-mode-button"
