
style "elementary-panel"
{
	xthickness		= 1
	ythickness		= 0

	bg_pixmap[NORMAL]	= "/Panel/panel.png" # Disable for normal panel backgrounds.

	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
		}
		
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			file			= "Panel/button-active.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}
		
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Panel/button-active.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}

		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= SELECTED
			file			= "Panel/button-active.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}
 
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
		} 

		image
		{
			function		= ARROW
			recolorable		= TRUE
			arrow_direction		= DOWN
		}
	}
}

style "elementary-panel-light"
{
	xthickness		= 1
	ythickness		= 0

	fg[NORMAL]	= @fg_color

	engine "murrine" {
		textstyle = 1
		roundness = 0
	}
}

style "elementary-panel-text"
{
	fg[NORMAL]	= "#4D4D4D"
	fg[PRELIGHT]	= "#5D5D5D"
	fg[ACTIVE]	= "#ffffff"
	text[NORMAL]	= "#4D4D4D"
	text[PRELIGHT]	= "#4D4D4D"
	text[ACTIVE]	= "#ffffff"
}

style "elementary-main-menu-text" = "elementary-panel-text"
{
	fg[PRELIGHT]	= "#ffffff"
	text[PRELIGHT]	= "#ffffff"
}


style "elementary-panel-buttons" = "elementary-panel"
{
	GtkButton	::child-displacement-x	= 0
	GtkButton	::child-displacement-y	= 0

	xthickness	= 4
	ythickness	= 0

	engine "pixmap"
	{
		
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			file			= "Panel/button-hover.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}
		
	}
}

style "elementary-panel-handle" 
{
    engine "pixmap"
    {    
        image
        {
		function 	= HANDLE
        }    
 
	image
        {
        	function 	= HANDLE
        }
    }
}

widget "*PanelWidget*"			style "elementary-panel"
widget "*PanelApplet*"			style "elementary-panel"
widget "*fast-user-switch*"		style "elementary-panel"
widget "*CPUFreq*Applet*"		style "elementary-panel"
widget "*indicator-applet*"		style "elementary-panel"
class "PanelApp*"			style "elementary-panel"
class "PanelToplevel*"			style "elementary-panel"
widget_class "*PanelToplevel*"		style "elementary-panel"
widget_class "*notif*"			style "elementary-panel"
widget_class "*Notif*"			style "elementary-panel"
widget_class "*Tray*"			style "elementary-panel" 
widget_class "*tray*"			style "elementary-panel"
widget_class "*computertemp*"		style "elementary-panel"
widget_class "*Applet*Tomboy*"		style "elementary-panel"
widget_class "*Applet*Netstatus*"	style "elementary-panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"		style "elementary-panel-light"
widget_class "*Notif*Brasero*"		style "elementary-panel-light"

# XFCE panel theming.
widget "*Xfce*Panel*"			style "elementary-panel"
class "*Xfce*Panel*"			style "elementary-panel"

# Make sure panel text color doesn't change
widget_class "*Panel*MenuBar*"		style "elementary-main-menu-text"
widget_class "*Panel*<GtkMenuBar>*"	style "elementary-main-menu-text"
widget "*.clock-applet-button.*"	style "elementary-panel-text"
widget "*PanelApplet*"			style "elementary-panel-text"

# Panel buttons
widget_class "*Panel*GtkToggleButton"	style:highest "elementary-panel-buttons"
widget_class "*Panel*GtkButton"		style:highest "elementary-panel-buttons"

# Hide ugly handle
class "PanelAppletFrame" 		style:highest "elementary-panel-handle"
