/* Copyright 2011-2014 elementary LLC.
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/**************
 * GNOME Crap *
 *************/

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    -EogScrollView-shadow-type: none;
}

CcNetworkPanel GtkNotebook > .frame {
    border: none;
}

/**********
 * Birdie *
 *********/

BirdieWidgetsTweetList * {
    background-image: none;
    background-color: transparent;
}

.tweet {
    padding: 0;
    box-shadow: none;
}

/*************
* Calculator *
*************/

PantheonCalculatorMainWindow {
    border-radius: 0 0 4px 4px;
}

PantheonCalculatorMainWindow.window-frame {
    border-radius: 4px;
}

/********
* Files *
********/

.pathbar:focus {
    box-shadow: inset 0 0 0 1px alpha (@selected_bg_color, 0.23),
                0 1px 0 alpha (#fff, 0.30);
    border-color: alpha (@selected_bg_color, 0.80);
}

.pathbar:active {
    background-image: none;
    background-color: transparent;
    border-color: alpha (@selected_bg_color, 0.80);
    box-shadow: inset 0 0 0 1px alpha (@selected_bg_color, 0.23);
}

MarlinViewChromeLocationBar .image,
.pathbar.image {
    color: @internal_element_color;
}

MarlinViewChromeLocationBar .image:hover,
.pathbar.image:hover {
    color: @internal_element_prelight;
}

/*******
* Gala *
*******/

.gala-notification {
    border: none;
    border-radius: 4px;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                  alpha (@bg_color, 0.98),
                                  alpha (@bg_color, 0.98) 80%,
                                  alpha (shade(@bg_color, 0.94), 0.98)
                                  );
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.10),
                inset 0 1px 0 0 alpha (#fff, 0.90),
                inset 0 -1px 0 0 alpha (#fff, 0.30),
                0 0 0 1px alpha (#000, 0.20),
                0 3px 6px alpha (#000, 0.16),
                0 3px 6px alpha (#000, 0.23);
}

.gala-button {
    padding: 3px;
    color: #fff;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to bottom,
                                  #7e7e7e,
                                  #3e3e3e
                                  );
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.02),
                inset 0 1px 0 0 alpha (#fff, 0.07),
                inset 0 -1px 0 0 alpha (#fff, 0.01),
                0 0 0 1px alpha (#000, 0.40),
                0 3px 6px alpha (#000, 0.16),
                0 3px 6px alpha (#000, 0.23);
    text-shadow: 0 1px 1px alpha (#000, 0.6);
}

/********
* Geary *
********/

ConversationListView {
    -GtkWidget-focus-line-width: 1px;
    -GtkTreeView-grid-line-width: 0;
}
 
ConversationListView.view.cell {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: alpha (#000, 0.2);
}
 
ConversationListView.view.cell:selected:focus {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: shade (@selected_bg_color, 0.8);
}

/********
* Noise *
********/

NoiseLibraryWindow,
NoiseLibraryWindow .action-bar  {
    border-radius: 0 0 4px 4px;
}

NoiseLibraryWindow.window-frame {
    border-radius: 3px;
}

/*********
 * Panel *
 ********/

.panel {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 2px alpha (#000, 0.6);
    icon-shadow: 0 1px 2px alpha (#000, 0.6);
}

.panel-shadow {
    background-image: none;
    background-color: transparent;
}

.panel .menu {
    box-shadow: none;
}

.panel .menu .spinner {
    opacity: 1;
}

.panel .menu .menuitem {
    font-weight: normal;
}

.panel .window-frame.menu.csd,
.panel .window-frame.popup.csd {
    box-shadow: none;
}

.panel .menu .window-frame.menu.csd,
.panel .menu .window-frame.popup.csd {
    box-shadow: 0 0 0 1px alpha (#000, 0.20),
                0 10px 20px alpha (#000, 0.19),
                0 6px 6px alpha (#000, 0.23);
}

.composited-indicator {
    background-color: transparent;
    color: #fff;
}

.composited-indicator > GtkWidget > GtkWidget:first-child {
    padding: 0 2px;
}

.panel-app-button > GtkWidget > GtkWidget:first-child {
    padding: 0 2px 0 4px;
}

.composited-indicator.menuitem:active,
.composited-indicator.menuitem:prelight {
    border-style: none;
    background-image: none;
    box-shadow: none;
}

/*************
 * Slingshot *
 ************/

SlingshotWidgetsSearchView GtkButton.flat:hover,
SlingshotWidgetsSearchView GtkButton.flat:focus {
    background-color: alpha (#000, 0.20);
    text-shadow: none;
}

/************
 * Terminal *
 ***********/

PantheonTerminalPantheonTerminalWindow.background {
   background-color: transparent;
}
