/* Copyright 2011-2014 elementary LLC.
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/**************
 * GNOME Crap *
 *************/

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    -EogScrollView-shadow-type: none;
}

/**********
 * Birdie *
 *********/

BirdieWidgetsTweetList * {
    background-image: none;
    background-color: transparent;
}

/********
 * Gala *
 *******/

.gala-workspaces-background {
    border-top: 1px solid alpha (#fff, 0.15);
    background-color: #2d2d2d;
    
    background-image: linear-gradient(to bottom,
                                  alpha (#000, 0.30),
                                  transparent 6px
                                  );
}

.gala-workspace-selected {

    border: 1px solid alpha (#000, 0.15);
    border-radius: 4px;
    
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
            inset 0 1px 0 0 alpha (#fff, 0.45),
            inset 0 -1px 0 0 alpha (#fff, 0.15),
            0 1px 0 1px alpha (#000, 0.15);
            
    background-image: linear-gradient(to bottom,
                                  shade (@selected_bg_color, 1.25),
                                  shade (@selected_bg_color, 0.98)
                                  );
}

/********
* Files *
********/

MarlinViewChromeLocationBar .button {
    background-image: linear-gradient(to bottom,
                                  alpha (#000, 0.10),
                                  transparent 5px
                                  ),
                        linear-gradient(to bottom,
                                  shade (@base_color, 0.90),
                                  @base_color
                                  );

    border: 1px solid alpha (#000, 0.27);
    border-radius: 2.5px;

    box-shadow: inset 0 0 0 1px @inset_dark_color,
                0 1px 0 1px alpha (#fff, 0.30);
                
    color: @text_color;

    icon-shadow: 0 1px alpha (#fff, 0.4);
    text-shadow: 0 1px alpha (#fff, 0.4);

    padding: 4px;

    transition: all 200ms ease-out;
}

MarlinViewChromeLocationBar .button:focus {
    box-shadow: inset 0 0 0 1px alpha (@selected_bg_color, 0.23),
                0 1px 0 alpha (#fff, 0.30);
    border-color: alpha (@selected_bg_color, 0.80);
}

MarlinViewChromeLocationBar .button:active {
    background-image: none;
    background-color: transparent;
    border-color: alpha (@selected_bg_color, 0.80);
    box-shadow: inset 0 0 0 1px alpha (@selected_bg_color, 0.23);
}

/********
* Geary *
********/

ConversationListView {
    -GtkWidget-focus-line-width: 1px;
    -GtkTreeView-grid-line-width: 0;
}
 
ConversationListView.view.cell {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: alpha (#000, 0.2);
}
 
ConversationListView.view.cell:selected {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: shade (@selected_bg_color, 0.8);
}

/**********
 * Notify *
 *********/

.notify {
    /*-notify-shadow: 0px 2px 18px alpha (#000, 0.60);*/

    border-radius: 5px;
    border: 1px solid alpha (#000, 0.30);

    background-color: alpha (#f8f8f8, 0.95);
}

.notify .low {
}

.notify .critical {
}

/*********
 * Panel *
 ********/

.panel {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 2px alpha (#000, 0.6);
    icon-shadow: 0 1px 2px alpha (#000, 0.6);
}

.panel .menu .menuitem {
    font-weight: normal;
}

.panel-shadow {
    background-image: none;
    background-color: transparent;
}

.panel-app-button {
    -GtkMenuItem-horizontal-padding: 6px;
}

.composited-indicator {
    background-color: transparent;
    color: #fff;
    padding: 0 2px;
}

.composited-indicator.menuitem:active,
.composited-indicator.menuitem:prelight {
    border-style: none;
    background-image: none;
    box-shadow: none;
}

/*************
 * Slingshot *
 ************/

.button.app {
    border-width: 0;
    border-radius: 5px;
    box-shadow: none;
}

.app:hover {
    background-color: alpha (#000, 0.08);
}
.app:focus {
    background-color: alpha (#000, 0.20);
}
 
.search-item {
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
}

.search-item:hover,
.search-item:focus {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    text-shadow: 0 1px 1px alpha (#000, 0.25);
    icon-shadow: 0 1px 1px alpha (#000, 0.25);
}
 
.search-entry-large,
.search-entry-large:focus {
        border: none;
        font: open sans light 18;
        padding: 8px;
        background-image: none;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
}
 
.search-category-header {
        color: #808080;
}

/*********
 * Tweet *
 ********/

.tweet {
    padding: 0;
    box-shadow: none;
}

/************
 * Terminal *
 ***********/

PantheonTerminalPantheonTerminalWindow.background {
   background-color: transparent;
}