/***********
 * Buttons *
 ***********/

.button,
.toolbar.button {
    border-width: 1;

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (@base_color),
                    to (shade (@base_color, 0.88)));

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (shade (@bg_color, 0.78)),
                    to (shade (@bg_color, 0.60)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.00)),
                    to (alpha (#000, 0.10)));

    -unico-focus-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (@keyboard_focus_border_a, 0.62)),
                    to (alpha (@keyboard_focus_border_b, 0.62)));
}

.button:hover,
.toolbar.button:hover {
}

.button:active,
.toolbar.button:active,
.button:hover:active,
.toolbar.button:hover:active {

    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (shade (@base_color, 0.54)),
				     to (shade (@base_color, 0.76)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.40)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.46)),
                     to (shade (@bg_color, 0.58)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.12)),
                    to (alpha (#000, 0.06)));
}

.button:insensitive {
    background-image: none;

    background-color: alpha (@fg_color, 0.00);

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.40)));
}

.button.default {
    border-width: 1;
    border-color: shade (@button_border, 1.10);
}

