/****************
 * Text Entries *
 ****************/
.entry,
.toolbar.entry {
    border-width:   1;
    padding:        4;

    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (shade (@base_color, 0.82)),
                     color-stop (0.20, shade (@base_color, 0.94)),
			         to (@base_color));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#fff, 0.00)),
                     color-stop (0.75, alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.40)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.65)),
                     to (shade (@bg_color, 0.72)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.10)),
                    to (alpha (#000, 0.06)));
}

.entry:focused {

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (shade (@selected_bg_color, 1.05)),
                    to (shade (@selected_bg_color, 1.25)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (@selected_bg_color, 0.20)),
                    to (alpha (@selected_bg_color, 0.20)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (@selected_bg_color, 0.15)),
                    to (shade (@selected_bg_color, 1.55)));
}

.entry:insensitive {

    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (alpha (#000, 0.10)),
                     color-stop (0.20, alpha (#000, 0.00)),
			         to (alpha (#000, 0.00)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.67)),
                     to (shade (@bg_color, 0.74)));

}

.entry.progressbar {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;

    border-width: 1;
    border-radius: 1;
}

