.grip {
}

.pane-separator,
.pane-separator:prelight,
.pane-separator:selected {

    border-radius:  0;
    border-width:   1;
    background-image: -gtk-gradient (linear,
				     left top,
				     right top,
				     from (shade (@base_color, 0.94)),
				     to (@base_color));

    border-color: shade (@base_color, 0.80);
}

