* {
    -GtkButton-child-displacement-x:             0;
    -GtkButton-child-displacement-y:             0;
    -GtkButton-default-border:                 0;
    -GtkButton-image-spacing:                    0;
    -GtkButton-inner-border:                    3;

    -GtkCheckButton-indicator-size:             15;
    -GtkCheckMenuItem-indicator-size:           12;

    -GtkEntry-inner-border:                     2;
    -GtkEntry-progress-border:                  0;

    -GtkExpander-expander-size:                 16;

    -GtkPaned-handle-size:                      8;

    -GtkScrolledWindow-scrollbar-spacing:        0;
    -GtkScrolledWindow-scrollbars-within-bevel:  1;

    -GtkToolbar-internal-padding:               0;

    -GtkToolButton-icon-spacing:                 6;

    -GtkWidget-focus-padding:                   0;

    -GtkWidget-link-color:                      @link_color;
    -GtkWidget-visited-link-color:              @link_color;
    -GtkIMHtml-hyperlink-color:                 @link_color;
    -GtkHTML-link-color:                        @link_color;

    border-radius:                               2;
    padding:                                    1;

    engine: unico;
        -unico-inner-stroke-color:              alpha (#fff, 0.30);
        -unico-text-shadow-color:              alpha (#fff, 0.30);
        -unico-outer-stroke-style:              custom;
        -unico-outer-stroke-gradient:           -gtk-gradient (linear,
                                                left top, left bottom,
                                                from (alpha (#000, 0.00)),
                                                to (alpha (#000, 0.10)));
}


/*
    -GtkButton-interior-focus: true;
    -GtkTextView-error-underline-color: @error_color;
    -GtkToolItemGroup-expander-size: 12;
    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;
    -GtkWidget-wide-separators: 1;
    -WnckTasklist-fade-overlay-rect: 0;
    -GtkWidget-focus-line-width: 1;
    -unico-focus-border-color: alpha (@theme_text_color, 0.4);
    -unico-focus-border-radius: 2;
    -unico-focus-fill-color: none;
    -unico-focus-border-gradient: none;
*/


/***************
 * Base States *
 ***************/
*:hover {
}

*:selected {
}

*:selected:focused {
}

*:insensitive {
}

*:active {
}

.background {
}

.tooltip {
}

/*****************
 * GtkSpinButton *
 *****************/
GtkSpinButton.button,
GtkSpinButton.button:insensitive,
GtkSpinButton.button:prelight,
GtkSpinButton.button:active {
}

/*****************
 * Notebooks and *
 * tabs          *
 *****************/
.notebook {
}

.notebook tab {
}

.notebook tab:active {
}

.notebook tab .button,
.notebook tab .button:hover,
.notebook tab .button:hover:active {
}

/**************
 * ComboBoxes *
 **************/

GtkComboBox {
    -GtkComboBox-arrow-scaling: 0.5;
    -GtkComboBox-shadow-type: 2;
}

GtkComboBox.button {
}

/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */
.check,
.check row:selected,
.check row:selected:focused {

    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (shade (@base_color, 0.82)),
                     color-stop (0.20, shade (@base_color, 0.94)),
			         to (@base_color));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#fff, 0.00)),
                     color-stop (0.75, alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.40)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.65)),
                     to (shade (@bg_color, 0.72)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.10)),
                    to (alpha (#000, 0.06)));

}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focused:insensitive {
}

.check:active,
.check row:selected:active,
.check row:selected:focused:active {
}

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focused:active:insensitive
{
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focused:inconsistent {
}

.radio,
.radio row:selected,
.radio row:selected:focused {

    border-radius:  10;

    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (shade (@base_color, 0.82)),
                     color-stop (0.20, shade (@base_color, 0.94)),
			         to (@base_color));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#fff, 0.00)),
                     color-stop (0.75, alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.40)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.65)),
                     to (shade (@bg_color, 0.72)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.10)),
                    to (alpha (#000, 0.06)));

}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focused:insensitive {
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focused:active {
}

.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focused:active:insensitive {
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focused:inconsistent {
}

/*************
 * GtkSwitch *
 *************/

GtkSwitch {
    font: bold condensed 10;
}

GtkSwitch.trough {
}

GtkSwitch.trough:active {
}

GtkSwitch.trough:insensitive {
}

GtkSwitch.slider {
    -unico-switch-grip-color: shade (@switch_slider_color, 0.97);
}

GtkSwitch.slider:active {
}

GtkSwitch.slider:insensitive {
}

GtkStatusbar {
    -GtkStatusbar-shadow-type: none;
}

GtkScrolledWindow.frame {
}

GtkViewport,
GtkIconView {
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
}

.view {
}

GtkTreeView {
    -GtkTreeView-vertical-separator:            0;
    -GtkTreeView-expander-size:                 8;
}

GtkTreeView.separator {

}

column-header {
}

column-header .button {
    -unico-outer-stroke-style:                  none;
    border-radius:                              0;

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@base_color, 0.88)),
                    to (@base_color));
}

row:hover {
}

row:insensitive {
}

row:selected:focused {
}

row:selected {
}

.cell {
}

.cell:selected {
}

.expander {
}

.expander:active {
}

.expander:prelight {
}

.expander row:selected,
.expander row:selected:focused {
}

/* Calendars */
GtkCalendar.view {
}

GtkCalendar.header {
}

GtkCalendar.button {
}

.highlight,
GtkCalendar.highlight {
}

.info {
}

.warning {
}

.question {
}

.error {
}

.dim-label {
}

.sidebar,
.sidebar.view {
}

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    -EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {
    -TerminalScreen-background-darkness: 0.95;
}

/**********************
 * Fallback Mode Panel
 **********************/

PanelWidget,
PanelApplet,
PanelApplet > GtkMenuBar.menubar,
.gnome-panel-menu-bar,
PanelAppletFrame,
PanelMenuBar.menubar,
PanelToplevel {
}

PanelApplet > GtkMenuBar.menubar.menuitem:prelight,
.gnome-panel-menu-bar.menuitem:prelight {
}

/* panel buttons (clock, tasklist etc) */
PanelApplet GtkToggleButton {
}

PanelApplet GtkToggleButton:prelight:active,
PanelApplet GtkToggleButton:active {
}

PanelApplet GtkToggleButton:prelight {
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 12;
}

WnckPager, WnckTasklist {
}

@import url("button.css");
@import url("entry.css");
@import url("grip.css");
@import url("menu.css");
@import url("progressbar.css");
@import url("sidebar.css");
@import url("separator.css");
@import url("scale.css");
@import url("scrollbar.css");
@import url("toolbar.css");
