/* Default color scheme */
@define-color base_color #FFF;
@define-color bg_color #DEDEDE;
@define-color tooltip_bg_color #000;
@define-color selected_bg_color #4a90d9;
@define-color text_color #2e3436;
@define-color fg_color #2e3436;
@define-color tooltip_fg_color #FFF;
@define-color selected_fg_color #FFF;

/* Colormap actually used by the theme, to be overridden in other css files */
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;

@define-color link_color #08C;
@define-color frame_color #8a9580;
@define-color inactive_frame_color #c7ccc1;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #4e9a06;

@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);


@define-color insensitive_bg_color #f4f4f2;
@define-color insensitive_fg_color #a7aba7;


@import url("gtk-widgets.css");
@import url("button.css");
@import url("entry.css");
@import url("grip.css");
@import url("menu.css");
@import url("scale.css");
@import url("scrollbar.css");
@import url("toolbar.css");
