/*********
 * Menus *
 *********/

/* this controls the general appearance of the menubar */
.menubar {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (@theme_bg_color),
				     color-stop (0.45, shade (@theme_bg_color, 0.97)),
				     to (shade (@theme_bg_color, 0.99)));
    border-width: 0;
    border-style: none;
    padding: 4;
    color: @theme_text_color;

    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 0;
}

/* remove the image from the prelight areas */
.menubar.menuitem:prelight {
    background-image: none;
    background-color: @theme_base_color;
    color: @theme_text_color;

    border-style: solid;
    border-radius: 3;
    border-width: 1;
    border-color: @inactive_frame_color;
}

.menubar.menuitem {
    border-width: 1;
    border-style: none;
}

.menu {
    padding: 1;
    background-color: alpha (#000, 0.8);
    border-style: solid;
    border-width: 1;
    border-radius: 6;
    border-color: alpha (#FFF, 0.8);
    -unico-inner-stroke-color: alpha (#000, 0.30);

    -GtkMenuItem-arrow-scaling: 0.4;
    color: #fff;

}

.menuitem {
    -unico-menuitem-arrow-color: @menu_controls_color;
}

.menuitem.accelerator {
    color: alpha (#FFF, 0.66);
}

.menuitem.accelerator:prelight,
.menuitem.accelerator:active {
    color: alpha (@theme_base_color, 0.49);
}

.menuitem:active,
.menuitem:prelight {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border-style: solid;
    border-width: 1;
    border-radius: 0;
    border-color: lighter (@theme_selected_bg_color);
}

.menu.separator {
    -unico-border-gradient: -gtk-gradient (linear,
                                             left top, right top,
                                             from (alpha (@base_color, 0.00)),
                                             color-stop (0.30, alpha (@base_color, 0.25)),
                                             color-stop (0.50, alpha (@base_color, 0.30)),
                                             color-stop (0.70, alpha (@base_color, 0.25)),
                                             to (alpha (@base_color, 0.00)));

    -GtkSeparatorMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
}

/* menu radio and check items are drawn differently */
.menu.check:active {
    color: @menu_controls_color;
}

.menu.radio:active {
    color: @menu_controls_color;
}

.menu.check:prelight {
    color: @theme_selected_fg_color;
}

.menu.radio:prelight {
    color: @theme_selected_fg_color;
}

