/****************
 * Progress bar *
 ****************/

GtkProgressBar {
    /*border-radius:  10;*/
    padding:        0;

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#fff, 0.00)),
                     color-stop (0.50, alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.40)));
}

GtkProgressBar.progressbar {

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@base_color, 0.88)),
                    to (@base_color));

    -unico-border-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (shade (@bg_color, 0.60)),
                    to (shade (@bg_color, 0.78)));
}

GtkProgressBar.trough {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (shade (@base_color, 0.54)),
				     to (shade (@base_color, 0.76)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.46)),
                     to (shade (@bg_color, 0.58)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.12)),
                    to (alpha (#000, 0.06)));
}
