/* Copyright 2011-2013 elementary LLC.
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/****************
 * Progress bar *
 ****************/

GtkProgressBar {
    border-radius: 12px;
    padding: 1px;
}

GtkProgressBar.progressbar {
    background-image: linear-gradient(to bottom,
                                  shade (@base_color, 0.88),
                                  @base_color
                                  );

    border-style: none;
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.40);
}

GtkProgressBar.trough {
    border: 1px solid alpha (#000, 0.35);

    background-image: linear-gradient(to bottom,
                                  alpha (#000, 0.15),
                                  alpha (#000, 0.07)
                                  );

    box-shadow: inset 0 0 0 1px alpha (#000, 0.03);
}

.progressbar row,
.progressbar row:hover {

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@selected_bg_color, 1.30)),
                    color-stop (0.50, shade (@selected_bg_color, 1.20)),
                    color-stop (0.60, shade (@selected_bg_color, 1.08)),
                    color-stop (0.70, shade (@selected_bg_color, 1.08)),
                    to (shade (@selected_bg_color, 1.30)));

    border-style: solid;
    border-width: 1px;

    border-image: linear-gradient(to bottom,
                                  shade (@selected_bg_color, 1.10),
                                  shade (@selected_bg_color, 0.93)
                                  ) 1 1 1 1;

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.30);
}

.progressbar row:backdrop,
.progressbar row:backdrop:hover,
.progressbar row:selected:backdrop,
.progressbar row:selected:backdrop:hover {
    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@bg_color, 1.00)),
                    color-stop (0.50, shade (@bg_color, 0.90)),
                    color-stop (0.60, shade (@bg_color, 0.78)),
                    color-stop (0.70, shade (@bg_color, 0.78)),
                    to (shade (@bg_color, 1.00)));

    border-image: linear-gradient(to bottom,
                                  shade (@bg_color, 0.80),
                                  shade (@bg_color, 0.63)
                                  ) 1 1 1 1;
}

.progressbar row:selected,
.progressbar row:selected:focused {

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@selected_bg_color, 1.30)),
                    color-stop (0.50, shade (@selected_bg_color, 1.20)),
                    color-stop (0.60, shade (@selected_bg_color, 1.08)),
                    color-stop (0.70, shade (@selected_bg_color, 1.08)),
                    to (shade (@selected_bg_color, 1.30)));

    border-image: linear-gradient(to bottom,
                                  shade (@selected_bg_color, 0.87),
                                  shade (@selected_bg_color, 0.80)
                                  ) 1 1 1 1;
}


.trough row,
.trough row:hover,
.trough row:selected:backdrop,
.trough row:selected:backdrop:hover  {

    padding: 0;

    border-style: solid;
    border-width: 1px;
    -unico-inner-stroke-width: 1px;

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@bg_color, 1.10)),
                    color-stop (0.50, shade (@bg_color, 1.05)),
                    color-stop (0.60, shade (@bg_color, 0.98)),
                    color-stop (0.70, shade (@bg_color, 0.98)),
                    to (shade (@bg_color, 1.10)));

    border-image: linear-gradient(to bottom,
                                  shade (@bg_color, 0.83),
                                  shade (@bg_color, 0.75)
                                  ) 1 1 1 1;
}

.trough row:selected,
.trough row:selected:focused  {
    color: @text_color;

    border-image: linear-gradient(to bottom,
                                  shade (@selected_bg_color, 0.87),
                                  shade (@selected_bg_color, 0.80)
                                  ) 1 1 1 1;
}

