/* Copyright 2011-2013 elementary LLC.
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/************
 * GtkScale *
 ************/
.scale {
    -GtkScale-slider-length: 20;
    -GtkRange-slider-width: 20;
    -GtkRange-trough-border: 0;
}

.scale.slider {
    background-image: url("assets/scale-slider.svg");
}

.scale.slider:focus {
    background-image: url("assets/scale-slider-focus.svg");
}


.scale.slider:insensitive {
    background-image: url("assets/scale-slider-insensitive.svg");
}

.scale.trough {

    margin: 8px 0;

	border: 1px solid alpha (#000, 0.40);
    border-radius: 12px;

    background-image: linear-gradient(to bottom,
                                  alpha (#000, 0.14),
                                  alpha (#000, 0.04)
                                  );

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.05);
}

.scale.trough:insensitive {
    background-color: shade (@theme_bg_color, 1.20);
    border-color: shade (@inactive_frame_color, 0.845);
}

.scale.trough.horizontal {
}

.scale.trough.vertical {

    margin: 0 8px;

    background-image: -gtk-gradient (linear,
				     left top,
				     right top,
				     from (shade (@bg_color, 0.75)),
				     to (shade (@bg_color, 0.90)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top,
                     right top,
                     from (alpha (#000, 0.40)),
                     to (alpha (#000, 0.30)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top,
                    right top,
                    from (alpha (#000, 0.12)),
                    to (alpha (#000, 0.06)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top,
                     right top,
                     from (alpha (#fff, 0.00)),
                     color-stop (0.50, alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.40)));
}

.scale.trough.vertical:insensitive {

    background-image: -gtk-gradient (linear,
				     left top,
				     right top,
				     from (shade (@bg_color, 0.95)),
				     to (shade (@bg_color, 1.10)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top,
                     right top,
                     from (shade (@bg_color, 0.66)),
                     to (shade (@bg_color, 0.78)));
}

.scale.progressbar {
}

.scale.mark {
    background-color: shade (@bg_color, 0.56);
}

.scale.highlight.left {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 0.55)),
                                     to (shade (@bg_color, 0.70)));

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.40)),
                                           to (shade (@bg_color, 0.40)));
}
