/************
 * GtkScale *
 ************/
GtkScale {
    border-width:               1;
    -GtkScale-slider-length:     16;
    -GtkRange-slider-width:     14;
    -GtkRange-trough-border:    -3;
}

GtkScale.slider {
    border-radius:      0;

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                left top, left bottom,
                from (alpha (#000, 0.00)),
                to (alpha (#000, 0.10)));
}

GtkScale.slider:insensitive {
}

GtkScale.scale-has-marks-below.slider.horizontal {
}

GtkScale.scale-has-marks-below.slider.vertical {
}

GtkScale.scale-has-marks-above.slider.horizontal {
}

GtkScale.scale-has-marks-above.slider.vertical {
}

GtkScale.trough {
    border-radius:  10;

    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (shade (@bg_color, 0.75)),
				     to (shade (@bg_color, 0.90)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (shade (@bg_color, 0.46)),
                     to (shade (@bg_color, 0.58)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top, left bottom,
                    from (alpha (#000, 0.12)),
                    to (alpha (#000, 0.06)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#fff, 0.00)),
                     color-stop (0.50, alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.40)));
}

GtkScale.trough:insensitive {
    background-color: shade (@theme_bg_color, 1.20);
    border-color: shade (@inactive_frame_color, 0.845);
}

GtkScale.trough.horizontal {
}

GtkScale.trough.vertical {
    background-image: -gtk-gradient (linear,
				     left top,
				     right top,
				     from (shade (@bg_color, 0.75)),
				     to (shade (@bg_color, 0.90)));

    -unico-border-gradient: -gtk-gradient (linear,
                     left top,
                     right top,
                     from (shade (@bg_color, 0.46)),
                     to (shade (@bg_color, 0.58)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear,
                    left top,
                    right top,
                    from (alpha (#000, 0.12)),
                    to (alpha (#000, 0.06)));

    -unico-outer-stroke-gradient: -gtk-gradient (linear,
                     left top,
                     right top,
                     from (alpha (#fff, 0.00)),
                     color-stop (0.50, alpha (#fff, 0.00)),
                     to (alpha (#fff, 0.40)));
}

GtkScale.progressbar {
}

GtkScale.mark {
    background-color: shade (@bg_color, 0.56);
}

GtkFrame,
GtkCalendar {
    padding: 2;
}

.frame {
    color: lighter (@theme_fg_color);
    border-style: none;
    border-width: 0;
}

