/**************
 * Scrollbars *
 **************/

.scrollbar {
    -GtkRange-slider-width:     4;
    -GtkRange-stepper-size:     0;
    -GtkRange-stepper-spacing:   1;
    -GtkRange-trough-border:    2;

    -GtkScrollbar-min-slider-length: 30;
}

.scrollbar.trough {
    background-color: @base_color;
    border-width:      0;
    border-radius:      0;
}

.scrollbar.slider,
.scrollbar.slider:prelight,
.scrollbar.button {
    border-width:              0;
    background-color:         alpha (#000, 0.4);
    -unico-inner-stroke-color:  none;
    -unico-outer-stroke-color:  alpha (#FFF, 0.4);
    border-radius:              10;
}

.scrollbar.button {
}

.scrollbar.slider:insensitive {
    -GtkRange-slider-width: 0;
}

.scrollbar.trough:insensitive {
    -GtkRange-trough-border: 0;
}

