.sidebar,
.sidebar.view {
    background-color:         @bg_color;
    border-radius:              0;
    color:                      shade (@bg_color, 0.55);
}

.sidebar.view:prelight {
    background-color:         shade (@bg_color, 1.10);
}

GtkHCollapsablePaned {
    border-width:            0;
    -GtkPaned-handle-size:    2;
}

GtkHCollapsablePaned.pane-separator,
GtkHCollapsablePaned.pane-separator:prelight,
GtkHCollapsablePaned.pane-separator:selected {
    background-image: -gtk-gradient (linear,
				     left top,
				     right top,
				     from (shade (@bg_color, 1.30)),
				     to (shade (@bg_color, 0.65)));
    background-color: none;
}
