.sidebar,
.sidebar.view {
    background-color:         @bg_color;
    border-radius:              0;
    color:                      shade (@bg_color, 0.55);
}

.sidebar.view:prelight {
    background-color:         shade (@bg_color, 1.10);
}

.sidebar-hpaned {
    border-width:           0;
    -GtkPaned-handle-size:   2;

    background-image: -gtk-gradient (linear,
				     left top,
				     right top,
				     from (shade (@bg_color, 1.10)),
				     to (@bg_color));
}
