/************
 * Toolbars *
 ***********/

.toolbar {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (shade (@bg_color, 0.96)),
                                     color-stop (0.05, shade (@bg_color, 0.87)),
                                     color-stop (0.93, shade (@bg_color, 0.82)),
                                     color-stop (0.94, shade (@bg_color, 0.89)),
                                     color-stop (0.96, shade (@bg_color, 0.89)),
                                     color-stop (0.99, shade (@bg_color, 0.50)),
				     to (shade (@bg_color, 0.50)));
    border-width: 0;
    padding: 2;
    -GtkWidget-window-dragging: true;
}

.toolbar:insensitive {
    color: alpha (@theme_fg_color, 0.6);
}

/********************
 * Primary Toolbars *
 ********************/

.primary-toolbar.toolbar {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (@bg_color),
                                     color-stop (0.94, shade (@theme_bg_color, 0.88)),
                                     color-stop (0.95, shade (@theme_bg_color, 0.94)),
                                     color-stop (0.97, shade (@theme_bg_color, 0.94)),
                                     color-stop (0.99, shade (@theme_bg_color, 0.60)),
				     to (shade (@theme_bg_color, 0.60)));
    border-width: 0;
    padding: 2;
    -GtkWidget-window-dragging: true;
}

.primary-toolbar.toolbar:insensitive {
    background-image: none;
    background-color: shade (@theme_bg_color, 0.97);

    border-style: solid;
    border-width: 1;
    border-color: shade (@theme_bg_color, 0.91);
}

/* progressbars on primary toolbar entries are special */
.primary-toolbar.toolbar.entry.progressbar {
    /* FIXME: need correct colors/gradient */
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@trough_bg_color_a),
                                     to (@trough_bg_color_b));

    border-width: 0;
    border-radius: 2;
    border-color: shade (@inactive_frame_color, 0.925);
}

.primary-toolbar.toolbar.separator {
    border-style: solid;
    border-width: 1;
    border-color: shade (@theme_bg_color, 0.56);
}

/*******************
 * Inline toolbars *
 *******************/

.inline-toolbar.toolbar {
    border-width: 1;
    border-radius: 3;
    border-style: solid;

    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (@toolbar_gradient_base),
				     color-stop (0.16, @toolbar_gradient_step1),
				     color-stop (0.90, @toolbar_gradient_step2),
				     color-stop (0.98, @toolbar_gradient_final),
                                     color-stop (0.99, shade (@theme_bg_color, 0.83)),
				     to (shade (@theme_bg_color, 0.83)));
}

