/************
 * Toolbars *
 ***********/

.toolbar {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (@bg_color),
                                     color-stop (0.96, shade (@theme_bg_color, 0.88)),
                                     color-stop (0.97, shade (@theme_bg_color, 0.96)),
                                     color-stop (0.98, shade (@theme_bg_color, 0.96)),
                                     color-stop (0.99, shade (@theme_bg_color, 0.60)),
				     to (shade (@theme_bg_color, 0.60)));
    border-width: 0;
    border-radius: 0;
    padding: 1;
    -GtkWidget-window-dragging: true;
}

.toolbar:insensitive {
    color: alpha (@theme_fg_color, 0.6);
}

/********************
 * Primary Toolbars *
 ********************/

.primary-toolbar.toolbar {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (@toolbar_gradient_base),
                                     color-stop (0.01, shade (@theme_bg_color, 0.56)),
                                     color-stop (0.02, @toolbar_gradient_base),
				     color-stop (0.16, @toolbar_gradient_step1),
				     color-stop (0.90, @toolbar_gradient_step2),
				     color-stop (0.98, @toolbar_gradient_final),
                                     color-stop (0.99, shade (@theme_bg_color, 0.83)),
				     to (shade (@theme_bg_color, 0.83)));
    border-width: 0;
    border-radius: 0;
    border-style: none;

    padding: 4;

    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: 0;
    -GtkWidget-separator-width: 1;
    -GtkWidget-wide-separators: 1;
}

.primary-toolbar.toolbar:insensitive {
    background-image: none;
    background-color: shade (@theme_bg_color, 0.97);

    border-style: solid;
    border-width: 1;
    border-color: shade (@theme_bg_color, 0.91);
}

/* primary toolbar buttons */
.primary-toolbar.toolbar.button {
    border-style: none;
    border-width: 1;
    background-image: none;
    background-color: alpha (@theme_base_color, 0.0);

    -adwaita-focus-border-radius: 2;
    -adwaita-focus-fill-color: alpha (@theme_base_color, 0.20);
    -adwaita-focus-border-gradient: -gtk-gradient (linear,
                                                   left top, left bottom,
                                                   from (alpha (shade (@toolbar_active_button_color, 1.25), 0.90)),
                                                   to (alpha (@toolbar_active_button_color, 0.62)));
}

.primary-toolbar.toolbar.button:insensitive {
    border-style: none;
    background-image: none;
    background-color: alpha (@theme_base_color, 0.0);
    -GtkWidget-focus-line-width: 0;
}

.primary-toolbar.toolbar.button:hover {
    border-style: none;
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (alpha (@theme_base_color, 0.0)),
				     color-stop (0.54, alpha (shade (@theme_base_color, 0.92), 0.49)),
			             to (alpha (@theme_base_color, 0.0)));
}

.primary-toolbar.toolbar.button:active {
    border-style: solid;
    border-radius: 4;
    -adwaita-border-gradient: -gtk-gradient (linear,
                                             left top, left bottom,
                                             from (@toolbar_active_button_color),
                                             to (shade (@toolbar_active_button_color, 1.83)));

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@toolbar_gradient_base, 0.85)),
			             to (alpha (shade (@toolbar_gradient_base, 0.85), 0.0)));

    color: @theme_base_color;
}

.primary-toolbar.toolbar.button:active:prelight {
    border-style: solid;
    border-radius: 3;
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (alpha (shade (@toolbar_gradient_base, 0.76), 0.7)),
			             to (alpha (shade (@toolbar_gradient_base, 1.14), 0.0)));

    color: @theme_base_color;
}

.primary-toolbar.toolbar.button:active:insensitive {
    border-style: solid;
    border-radius: 3;
    border-color: @inactive_frame_color;
    -adwaita-border-gradient: none;
}

.primary-toolbar.toolbar.separator {
    border-style: solid;
    border-width: 1;
    border-color: shade (@theme_bg_color, 0.56);
}

/* primary toolbar raised buttons */
.primary-toolbar.toolbar.raised.button,
.primary-toolbar.toolbar.raised.button:insensitive {
    border-radius: 2;
    border-width: 1;
    border-color: @button_border;
    border-style: solid;

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                                     from (@button_gradient_color_a),
                                     to (@button_gradient_color_b));

    -GtkWidget-focus-line-width: 2;
}

.primary-toolbar.toolbar.raised.button:hover {
    border-color: @button_border;
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (@button_hover_gradient_color_a),
				     to (@button_hover_gradient_color_b));
    border-width: 1;
    border-style: solid;
}

.primary-toolbar.toolbar.raised.button:hover:active,
.primary-toolbar.toolbar.raised.button:active {
    background-image: -gtk-gradient (linear,
    				     left top, left bottom,
                                     from (@button_active_gradient_color_a),
				     to (alpha (@button_active_gradient_color_b, 0.13)));
    background-color: @theme_base_color;

    border-color: @highlighted_border;
    border-width: 1;
    border-style: solid;
}

/* progressbars on primary toolbar entries are special */
.primary-toolbar.toolbar.entry.progressbar {
    /* FIXME: need correct colors/gradient */
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@trough_bg_color_a),
                                     to (@trough_bg_color_b));

    border-width: 0;
    border-radius: 2;
    border-color: shade (@inactive_frame_color, 0.925);
}

/*******************
 * Inline toolbars *
 *******************/

.inline-toolbar.toolbar {
    border-width: 1;
    border-radius: 3;
    border-style: solid;

    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (@toolbar_gradient_base),
				     color-stop (0.16, @toolbar_gradient_step1),
				     color-stop (0.90, @toolbar_gradient_step2),
				     color-stop (0.98, @toolbar_gradient_final),
                                     color-stop (0.99, shade (@theme_bg_color, 0.83)),
				     to (shade (@theme_bg_color, 0.83)));
}

