.buttonbox,
.dialog-action-area {
    button.text-button {
        min-width: rem(60px);
    }

    button:dir(ltr) + button {
        margin-left: rem(6px);
    }

    button:dir(rtl) + button {
        margin-right: rem(6px);
    }
}
