calendar.view {
    background: transparent;

    .day-name {
        @extend .h4;
    }

    .day-number {
        &.today {
            @extend .accent;
            font-weight: bold;
        }

        &.other-month {
            color: $insensitive-fg-color;
        }

        &:selected{
            @extend selection;
            border-radius: 99px;
        }
    }
}

