.deck {
    background-color: bg-color(3);
}

.card {
    background-color: bg-color(1);
    box-shadow:
        outset-highlight(),
        // Intentionally not in ems since it's used as a stroke
        0 0 0 1px rgba(black, 0.1),
        shadow(2);
    transition:
        background duration("in-place") $easing,
        box-shadow duration("expand") $easing;

    &.collapsed {
        background-color: bg-color(2);
        box-shadow:
            outset-highlight(),
            // Intentionally not in ems since it's used as a stroke
            0 0 0 1px rgba(black, 0.1),
            shadow(1);
        transition:
            background duration("in-place") $easing,
            box-shadow duration("collapse") $easing;
    }

    &.rounded {
        border-radius: rem(3px);
    }
}
