popover.emoji-picker {
    entry {
        margin: rem(12px);
        margin-bottom: rem(3px);
    }

    // Emoji are labels too, so we have to be specific
    scrolledwindow.view box.vertical > label {
        @extend .h4;

        // Intentionally off-by-one
        margin-left: rem(7px);
        margin-right: rem(7px);
    }

    .emoji {
        min-height: 36px;
        min-width: 36px;
        font-size: 16px;
    }

    .emoji-toolbar {
        @extend .inline-toolbar;
    }

    button.emoji-section.image-button {
        background: none;
        border-width: 0;
        border-radius: 0;
        box-shadow: none;
        min-height: 24px;
        min-width: 24px;
        opacity: 0.6;
        outline-style: none;

        &:checked {
            opacity: 1;
        }

        &:hover {
            opacity: 0.8;
        }

        image {
            color: inherit;
        }
    }
}
