image {
    -gtk-icon-palette:
        error #{'@error_color'},
        success #{'@success_color'},
        warning $warning-icon-color;

    &:disabled {
        -gtk-icon-effect: dim;
    }

    &.normal-icons {
        -gtk-icon-size: 16px;
    }

    &.large-icons {
        -gtk-icon-size: 32px;
    }
}
