selection {
    background-color: #{'@selected_bg_color'};
    color: #{'@selected_fg_color'};

    &:backdrop {
        background-color: #{'@theme_unfocused_selected_bg_color'};
        color: #{'@theme_unfocused_selected_fg_color'};
    }
}

.checkerboard {
    background-color: bg-color(3);
    background-image:
        linear-gradient(
            45deg,
            rgba(black, 0.05) rem(9px),
            transparent rem(9px),
            transparent rem(26px),
            rgba(black, 0.05) rem(26px),
            rgba(black, 0.05)
        ),
        linear-gradient(
            45deg,
            rgba(black, 0.05) rem(9px),
            transparent rem(9px),
            transparent rem(26px),
            rgba(black, 0.05) rem(26px),
            rgba(black, 0.05)
        );
    background-size: rem(24px) rem(24px);
    background-position: 0 0, rem(12px) rem(12px);
}

.circular {
    // Not  50% because that creates a squished elipse for non-squares widgets
    border-radius: 9999px;
}

.error {
    color: #{'@error_color'};
}

.success {
    color: #{'@success_color'};
}

.warning {
    color: #{'@warning_color'};
}

@import '_avatars.scss';
@import '_badges.scss';
@import '_boxes.scss';
@import '_buttons.scss';
@import '_calendars.scss';
@import '_cards.scss';
@import '_checkbuttons.scss';
@import '_colorchoosers.scss';
@import '_columnviews.scss';
@import '_dropdowns.scss';
@import '_emojipicker.scss';
@import '_entries.scss';
@import '_expanders.scss';
@import '_headerbars.scss';
@import '_images.scss';
@import '_infobars.scss';
@import '_levelbars.scss';
@import '_linked.scss';
@import '_lists.scss';
@import '_menubars.scss';
@import '_notebooks.scss';
@import '_notifications.scss';
@import '_osds.scss';
@import '_panes.scss';
@import '_popovers.scss';
@import '_progressbars.scss';
@import '_scales.scss';
@import '_scrollbars.scss';
@import '_searchbars.scss';
@import '_separators.scss';
@import '_settingspages.scss';
@import '_shortcuts.scss';
@import '_sidebars.scss';
@import '_spinbuttons.scss';
@import '_spinners.scss';
@import '_stackable_boxes.scss';
@import '_storagebars.scss';
@import '_switches.scss';
@import '_toasts.scss';
@import '_toolbars.scss';
@import '_tooltips.scss';
@import '_treeviews.scss';
@import '_views.scss';
@import '_windowcontrols.scss';
@import '_windows.scss';
@import 'adw/_index.scss';
