placeholder {
    margin: rem(12px);

    > grid > .large-icons {
        -gtk-icon-size: 48px;
        margin-right: rem(12px);
    }

    .title-1 + .title-2 {
        margin-top: rem(3px);
    }

    .title-2 {
        @extend .dim-label;
        color: $fg-color;
        font-size: 12pt;
        font-weight: initial;
    }

    box {
        margin-top: 1.5em;
    }

    button {
        @extend .flat;

        .large-icons {
            -gtk-icon-size: 32px;
            margin-right: rem(6px);
        }

        .title-3 {
            font-weight: initial;
        }

        label:not(.title-3) {
            @extend .dim-label;
        }

        + button {
            margin-top: rem(12px);
        }
    }
}


