separator {
    &.horizontal {
        border-top: 1px solid #{'@menu_separator'};
        border-bottom: 1px solid #{'@menu_separator_shadow'};
        margin-bottom: -1px;
    }

    &.vertical {
        border-left: 1px solid #{'@menu_separator'};
        border-right: 1px solid #{'@menu_separator_shadow'};
        margin-right: -1px;
    }

    actionbar > &,
    headerbar > windowhandle > box > box &.horizontal,
    headerbar > windowhandle > box > box &.vertical { // Very specific to avoid affecting popovers
        border: none;
        margin: 0;
        min-height: 1px;
        min-width: rem(36px);
    }

    stacksidebar &.horizontal {
        border: none;
    }
}
