simplesettingspage {
    > scrolledwindow > viewport > box {
        padding: rem(12px);
    }

    .header-area {
        margin-bottom: rem(24px);

        > image {
            -gtk-icon-size: rem(48px);

            &:dir(ltr) {
                // Match square icon canvas whitespace at 48px
                margin-left: rem(-4px);
                margin-right: rem(7px);
            }

            &:dir(rtl) {
                margin-left: rem(7px);
                margin-right: rem(-4px);
            }
        }

        label.title-2 {
            font-weight: 600;
            font-size: 2rem;
        }

        label:not(.title-2) {
            font-size: 0.95rem;
            opacity: 0.85;
        }

        switch {
            slider {
                // Match font size for title
                min-height: 2rem;
                min-width: 2rem;
            }

            &:dir(ltr) {
                margin-left: rem(12px);
            }

            &:dir(rtl) {
                margin-right: rem(12px);
            }
        }
    }

    .buttonbox {
        margin-top: rem(24px);
    }
}
