tooltip {
    padding: rem(6px);
    border-radius: rem(3px);
    box-shadow: shadow(1);
    margin: rem(3px);

    &.background {
        background-color: rgba($BLACK_700, 0.9);
        color: white;

        label {
            text-shadow: 0 rem(1px) rem(2px) rgba(black, 0.6);
            -gtk-icon-shadow: 0 rem(1px) rem(2px) rgba(black, 0.6);
        }
    }
}
