.background,
.gtkstyle-fallback {
    background-color: bg_color(2);
    color: $fg-color;
}

window.dialog {
    box-shadow: outset-highlight("bottom");

    &.csd {
        box-shadow:
            outset-highlight(),
            // Intentionally not in ems since it's used as a stroke
            0 0 0 1px $toplevel-border-color,
            // Force shadows to be the same size to prevent jumpy resize transition
            0 13px 16px 4px transparent,
            shadow(3);

        &:backdrop {
            box-shadow:
                outset-highlight(),
                // Intentionally not in ems since it's used as a stroke
                0 0 0 1px $toplevel-border-color,
                // Force shadows to be the same size to prevent jumpy resize transition
                0 13px 16px 4px transparent,
                shadow(2);
        }
    }

    &.ssd {
        border-radius: 0;
    }

    .dialog-content-area {
        margin: rem(12px);
        margin-top: rem(18px);
    }

    .dialog-action-area {
        margin: rem(12px);
    }

    &.message {
        .dialog-content-area box + expander-widget {
            margin-bottom: 6px;
        }

        .dialog-action-area {
            // Double space between content and actions
            margin-top: rem(16px);
        }
    }
}
