.background,
.gtkstyle-fallback {
    background-color: bg_color(2);
    color: $fg-color;
}

window.csd {
    margin: rem(12px);
    border-radius: rem(6px);
    box-shadow:
        // Intentionally not in ems since it's used as a stroke
        0 0 0 1px $toplevel-border-color,
        // Force shadows to be the same size to prevent jumpy resize transition
        0 13px 16px 4px transparent,
        shadow(4);

    &:backdrop {
        box-shadow:
            0 0 0 1px $toplevel-border-color,
            0 13px 16px 4px transparent,
            shadow(2);
    }

    &.maximized,
    &.fullscreen,
    &.tiled-top,
    &.tiled-right,
    &.tiled-bottom,
    &.tiled-left {
        margin: 0;
    }

    // black behind corners
    &.maximized {
        box-shadow: 0 0 0 rem(3px) black;
    }

    &.tiled-right:not(.maximized),
    &.tiled-left:not(.maximized) {
        box-shadow:
            0 0 0 1px $toplevel-border-color,
            0 13px 16px 4px transparent,
            shadow(2);
    }

    &.tiled-right:not(.maximized) {
        &.tiled-top {
            border-top-left-radius: 0;
        }

        &.tiled-bottom {
            border-bottom-left-radius: 0;
        }

        margin-left: 1px;
    }

    &.tiled-left:not(.maximized) {
        margin-right: 1px;

        &.tiled-top {
            border-top-right-radius: 0;
        }

        &.tiled-bottom {
            border-bottom-right-radius: 0;
        }
    }

    &.fullscreen {
        border-radius: 0;
    }
}

window.dialog {
    border-radius: 0;
    box-shadow: outset-highlight("bottom");

    &.csd {
        border-radius: rem(6px);
        box-shadow:
            outset-highlight(),
            // Intentionally not in ems since it's used as a stroke
            0 0 0 1px $toplevel-border-color,
            // Force shadows to be the same size to prevent jumpy resize transition
            0 13px 16px 4px transparent,
            shadow(3);

        &:backdrop {
            box-shadow:
                outset-highlight(),
                // Intentionally not in ems since it's used as a stroke
                0 0 0 1px $toplevel-border-color,
                // Force shadows to be the same size to prevent jumpy resize transition
                0 13px 16px 4px transparent,
                shadow(2);
        }
    }

    .dialog-content-area {
        margin: rem(12px);
        margin-top: rem(18px);
    }

    .dialog-action-area {
        margin: rem(12px);
    }

    &.message {
        .dialog-content-area box + expander-widget {
            margin-bottom: 6px;
        }

        .dialog-action-area {
            // Double space between content and actions
            margin-top: rem(16px);
        }
    }
}

window.aboutdialog {
    @extend .dialog;

    .icon-dropshadow.large-icons {
        -gtk-icon-shadow: outset-shadow(3);
        -gtk-icon-size: 128px;
    }
}

// Adw.PreferencesWindow
window.preferences.csd {
    @extend .dialog;

    headerbar {
        @extend .flat;

        viewswitcher button.toggle {
            border-radius: rem(3px);

            image {
                opacity: 0;
                -gtk-icon-size: 0;
            }
        }
    }

    preferencespage > scrolledwindow {
        undershoot.top {
            background:
                linear-gradient(
                    $toplevel-border-color,
                    rgba(black, 0.05) 1px,
                    rgba(black, 0.0) 0.444rem
                );
        }

        > viewport > clamp > box {
            padding-left: rem(12px);
            padding-right: rem(12px);
        }
    }

    preferencesgroup {
        margin-bottom: rem(12px);
    }
}
