calendar {
    // Days don't stay centered in the selection with larger padding
    padding: rem(1px);

    .view {
        background-color: transparent;
        background-image: none;
    }

    // Month headers
    .highlight {
        color: mix($fg-color, bg-color(1), $weight: 80%);
    }

    &:selected{
        @extend selection;
        border-radius: 99px;
    }

    // Other month days
    &:indeterminate {
        color: mix($fg-color, bg-color(1), $weight: 50%);
    }
}

