Source: io.elementary.stylesheet
Section: x11
Priority: extra
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               meson (>= 0.44.0),
               sass
Standards-Version: 4.1.1

Package: io.elementary.stylesheet
Architecture: all
Suggests: elementary-icon-theme
Description: the elementary GTK stylesheet
 The official elementary GTK stylesheet.
 Supports GTK versions 2 and 3.
