Source: elementary-theme
Section: x11
Priority: optional
Maintainer: Michael Rooney <mrooney@ubuntu.com>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7.0.8)

Package: elementary-theme
Architecture: all
Depends: fonts-open-sans,
         fonts-raleway,
         gtk2-engines-murrine,
         gtk3-engines-unico
Suggests: elementary-icon-theme
Breaks: libgtk-3-common (<< 3.4.0)
Description: the elementary GTK theme
 The official elementary GTK theme, elementary-theme.
 Supports GTK+ versions 2 and 3.
