style "theme-panel" = "theme-default"
{	
	xthickness	= 4
	ythickness	= 0

	bg_pixmap[NORMAL]	= "Panel/background.png" 

	bg[NORMAL]		= @bg_color
	bg[PRELIGHT]		= shade (1.1, mix (0.1, @bg_color, @selected_bg_color))
	bg[ACTIVE]		= shade (0.8, @bg_color)
	bg[SELECTED]		= shade (0.8, @bg_color)
	bg[INSENSITIVE]		= @bg_color

	fg[NORMAL]		= @fg_color
	fg[PRELIGHT]		= @fg_color
	fg[ACTIVE]		= shade (0.7, @fg_color)
	fg[SELECTED]		= shade (0.7, @fg_color)
	fg[INSENSITIVE]		= shade (0.6, @bg_color)

	text[NORMAL]		= @fg_color
	text[PRELIGHT]		= @fg_color
	text[ACTIVE]		= shade (0.7, @fg_color)
	text[SELECTED]		= shade (0.7, @fg_color)
	text[INSENSITIVE]	= shade (0.6, @bg_color)

	engine "murrine"
	{
		roundness		= 0
		lightborder_shade	= 1.0
		highlight_shade		= 1.0
		gradient_shades		= { 1.1, 1.0, 1.0, 0.9 }
	}
}

style "theme-panel-buttons" = "theme-panel"
{
	GtkButton	::child-displacement-x	= 0
	GtkButton	::child-displacement-y	= 0

	xthickness	= 4
	ythickness	= 0

	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
		}
		
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			file			= "Panel/button-hover.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}
		
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Panel/button-active.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}

		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= SELECTED
			file			= "Panel/button-active.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}
 
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
		}  
	}
}

style "theme-panel-light" = "theme-panel"
{
	fg[NORMAL]        = @fg_color
}

# Panel settings. Do not change.
widget "*PanelWidget*"			style "theme-panel"
widget "*PanelApplet*"			style "theme-panel"
widget "*fast-user-switch*"		style "theme-panel"
widget "*gdm-user-switch*"		style "theme-panel"
widget "*CPUFreq*Applet*"		style "theme-panel"
widget "*indicator-applet*"		style "theme-panel"
class "PanelApp*"			style "theme-panel"
class "PanelToplevel*"			style "theme-panel"
widget_class "*PanelToplevel*"		style "theme-panel"
widget_class "*notif*"			style "theme-panel"
widget_class "*Notif*"			style "theme-panel"
widget_class "*Tray*"			style "theme-panel" 
widget_class "*tray*"			style "theme-panel"
widget_class "*computertemp*"		style "theme-panel"
widget_class "*Applet*Tomboy*"		style "theme-panel"
widget_class "*Applet*Netstatus*"	style "theme-panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"		style "theme-panel-light"
widget_class "*Notif*Brasero*"		style "theme-panel-light"

# XFCE panel theming.
widget "*Xfce*Panel*"			style "theme-panel"
class "*Xfce*Panel*"			style "theme-panel"

# Panel buttons.
widget_class "*Panel*GtkToggleButton"	style:highest "theme-panel-buttons"
widget_class "*Panel*GtkButton"		style:highest "theme-panel-buttons"

