style "eog-window" = "murrine-dark"
{
	xthickness              = 0
	ythickness              = 0

	#base[NORMAL]		= "#3B3B3B"

	#bg[NORMAL]		= "#3B3B3B"
	#bg[ACTIVE]		= "#434241"
	#bg[PRELIGHT]		= "#4D4D4D"

	#fg[NORMAL]              = "#D6D6D6"
	#fg[PRELIGHT]            = "#D6D6D6"
	#fg[SELECTED]            = "#D6D6D6"
	#fg[ACTIVE]              = "#D6D6D6"
	#fg[INSENSITIVE]         = "#D6D6D6"

	#text[NORMAL]      	= "#D6D6D6"
	#text[PRELIGHT]    	= "#D6D6D6"
	#text[ACTIVE]      	= "#D6D6D6"
	#text[SELECTED]   	= "#D6D6D6"
	#text[INSENSITIVE]	= "#4D4D4D"
	
	GtkWidget::shadow_type			= GTK_SHADOW_NONE
	GtkWidget::draw_border			= {0,0,0,0}
	GtkScrolledWindow::scrollbar-spacing	= 0
	GtkScrolledWindow::shadow_type		= GTK_SHADOW_NONE	
}

style "eog-statusbar" = "eog-window"
{
	xthickness                    = 6
	ythickness                    = 4

	GtkStatusbar::shadow_type     = GTK_SHADOW_NONE	
}

widget "EogWindow"						style "eog-window"
widget "EogWindow.GtkVBox.GtkVBox"				style "eog-window"

widget_class "EogWindow.GtkVBox.GtkVBox*Scrollbar"		style "murrine-scrollbar-dark"
widget_class "Eog*Statusbar*"                  			style "eog-statusbar"
