style "midori-main"
{
	bg[NORMAL]			= shade (0.75, @bg_color)
}

style "midori-entry"
{
	ythickness			= 4
}

style "midori-notebook" = "murrine-notebook"
{
	xthickness			= 0
	ythickness			= 0
}

style "midori-panel-toolbar"
{
	bg[NORMAL]			= shade (0.85, @bg_color)
}

widget		"MidoriBrowser"							style "midori-main"
widget		"MidoriBrowser.GtkVBox.*.GtkEntry"				style "midori-entry"
widget		"MidoriBrowser.GtkVBox.GtkHPaned.GtkVPaned.GtkNotebook"		style "midori-notebook"
widget		"MidoriBrowser.*.MidoriPanel.*.GtkToolbar"			style "midori-panel-toolbar"
#widget		"MidoriBrowser*GtkStatusbar*"					style "nautilus-statusbar"
