style "midori-main"
{

	bg_pixmap[NORMAL]		= "/midori/base.png"	
}

style "midori-notebook" = "murrine-notebook"
{

	bg[NORMAL]			= @bg_color		# selected tab entire

	xthickness			= 0
	ythickness			= 0
}

style "midori-toolbar" 
{
	engine "murrine" {
		contrast		= 1.30
	}
}

style "midori-sidebar-toolbar" {

	text[NORMAL]	= mix (0.3, @bg_color, @text_color)

	bg[NORMAL]			= @bg_color

	engine "murrine" {
		contrast		= 0.0
		toolbarstyle		= 1
		lightborder_shade	= 1.0
		gradient_shades     	= {1.0,1.0,1.0,1.0}
	}
}

style "midori-sidebar-search" {

	bg[NORMAL]			= @base_color
}

widget		"MidoriBrowser"								style "midori-main"
widget		"MidoriBrowser*GtkNotebook"						style "midori-notebook"
widget		"MidoriBrowser.GtkVBox.GtkHPaned"					style "pixmap-sidebar-handle-left"
widget		"MidoriBrowser.GtkVBox.GtkHPaned.MidoriPanel.GtkVBox.GtkToolbar"	style "midori-sidebar-toolbar"
widget		"MidoriBrowser.GtkVBox.GtkHPaned.MidoriPanel.GtkVBox*GtkViewport"	style "midori-sidebar-search"

widget_class	"MidoriBrowser.GtkVBox.GtkToolbar"					style "midori-toolbar"
widget_class	"MidoriBrowser.GtkVBox.GtkHPaned*Panel"					style "murrine-sidebar"
widget_class	"MidoriBrowser.GtkVBox.GtkHPaned*Panel*ScrolledWindow*"			style "murrine-scrollbar-sidebar"
