style "nautilus-window-base"
{
	bg[NORMAL]	= @base_color
}

style "nautilus-sidebar" {

	text[NORMAL]	= mix (0.3, @sidebar_color, @text_color)

	font_name 	                  	= "Regular"

	GtkTreeView::odd_row_color		= @sidebar_color
	GtkTreeView::even_row_color		= @sidebar_color

      # these make the padding from left window edge a little more sane
	GtkTreeView::horizontal_separator	= 15
	GtkTreeView::vertical_separator		= 2
}

style "nautilus-sidebar-other" = "nautilus-sidebar"
{

	xthickness				= 0

	bg[NORMAL]				= @sidebar_color

}

style "nautilus-view"
{
	xthickness		= 0
	ythickness		= 0
}

style "nautilus-handle"
{
	GtkPaned::handle-size         = 2
	
	engine "pixmap"
	{
		image # for the thin gray line separating the sidepane and viewpane
		{
		    function	= HANDLE
		    recolorable	= TRUE
		    file		= "Apps/nautilus/handle.png"
		    stretch		= TRUE
		    border 		= { 0, 0, 0, 0 }
		}
	}
}

style "nautilus-extra-view"
{

	xthickness		= 0
	ythickness		= 0

	bg[NORMAL] = @base_color

	engine "pixmap"
	{
		image 
		{
		    function	= FLAT_BOX
		    recolorable	= TRUE
		    file		= "Apps/nautilus/extra-widget.png"
		    state		= NORMAL
		    stretch		= TRUE
		    border 		= { 0, 0, 4, 4 }
		}
	}

}

style "nautilus-statusbar"
{
	xthickness	= 4

	bg[NORMAL]	= @base_color
	bg[PRELIGHT]	= shade (1.16, mix (0.1, @bg_color, @selected_bg_color))
	bg[SELECTED]	= @fg_color

	base[SELECTED]	= shade (0.8, @selected_bg_color)

	fg[NORMAL]	= mix (0.4, @base_color, @text_color)
	fg[PRELIGHT]	= mix (0.4, @base_color, @text_color)
	fg[SELECTED]	= mix (0.4, @base_color, @text_color)
	fg[ACTIVE]	= mix (0.4, @base_color, @text_color)
	fg[INSENSITIVE]	= mix (0.4, @base_color, @text_color)

	engine "pixmap" 
	{

	    image
	    {
	     	function	= RESIZE_GRIP
		recolorable	= TRUE
		detail		= "statusbar"
		overlay_file	= "Apps/nautilus/resize_grip.png"
		overlay_border	= {0,0,0,0 }
		overlay_stretch	= FALSE
	    }
      }
}

style "nautilus-notebook" 
{
	xthickness		= 0
	ythickness		= 0
}

style "nautilus-scale"
{
	ythickness = 0

	GtkRange		::trough-border				= 0
	
  engine "pixmap" 
  {
    image 
    {
      function			= BOX
      recolorable		= TRUE
      detail			= "trough"
      file			= "Range/trough.png"
      border			= { 10, 10, 5, 15 }
      stretch			= TRUE
      orientation		= HORIZONTAL
    }	
    image 
    {
      function			= SLIDER
      recolorable		= TRUE
      state           		= NORMAL
      file			= ""
      border			= { 0, 0, 0, 0 }
      stretch			= TRUE
      overlay_file		= "Range/slider.png"
      overlay_stretch		= FALSE
      orientation		= HORIZONTAL
    }
    image 
    {
      function			= SLIDER
      recolorable		= TRUE
     state           		= PRELIGHT
      file			= ""
      border			= { 0, 0, 0, 0 }
      stretch			= TRUE
      overlay_file		= "Range/slider-prelight.png"
      overlay_stretch		= FALSE
      orientation		= HORIZONTAL
    }
    image 
    {
      function			= SLIDER
      recolorable		= TRUE
      state           		= INSENSITIVE
      file			= ""
      border			= { 0, 0, 0, 0 }
      stretch			= TRUE
      overlay_file		= "Range/slider.png"
      overlay_stretch		= FALSE
      orientation		= HORIZONTAL
    }
  }
}


style "nautilus-mode-button"
{
	bg[NORMAL]	= shade (1.15, @bg_color)
	bg[PRELIGHT]	= shade (1.22, @selected_bg_color)
	bg[SELECTED]	= shade (0.85, @bg_color)

	engine "murrine" {
		gradient_shades     = {1.15,1.05,1.04,0.9}
	}

}

style "nautilus-toolbar" 
{
	bg[NORMAL]        = @bg_color

	engine "murrine" {
		toolbarstyle		= 1
		lightborder_shade	= 1.0
		gradient_shades     	= {1.0,0.94,0.94,0.88}
	}
}

style "nautilus-menubar" = "murrine-menubar"
{
	GtkMenuBar:: shadow-type = GTK_SHADOW_NONE
}

widget_class	"*Nautilus*Window"		style "nautilus-window-base"
widget		"*Nautilus*Splitter"		style "nautilus-handle"
widget_class	"*Nautilus*View*"		style "nautilus-view"
widget_class	"*Nautilus*Places*Sidebar"	style "nautilus-sidebar"
widget_class	"*Nautilus*Statusbar*"		style "nautilus-statusbar"
widget_class	"*Nautilus*Scale*"		style "nautilus-scale"

widget_class	"*Nautilus*Toolbar"		style "nautilus-toolbar"
widget_class	"*Nautilus*MenuBar"		style "nautilus-menubar"
widget_class	"*Nautilus*Notebook"		style "nautilus-notebook"

widget		"*GtkModeButton*"		style "nautilus-mode-button"

widget_class "*Nautilus*EmblemSidebar*"		style "nautilus-sidebar-other"
widget_class "*Nautilus*Side*Tree*"		style "nautilus-sidebar-other"
widget_class "*Nautilus*Notes*"			style "nautilus-sidebar-other"
widget_class "*Nautilus*History*"		style "nautilus-sidebar-other"
widget_class "*Nautilus*Information*"		style "nautilus-sidebar-other"

widget "*.nautilus-extra-view-widget" 		style : highest "nautilus-extra-view"
