
style "elementary-panel"
{
	xthickness		= 1
	ythickness		= 0

	bg_pixmap[NORMAL]	= "/Panel/panel-dark.png" # Disable for normal panel backgrounds.

	engine "pixmap"
	{
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= NORMAL
		}
		
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			file			= "Panel/button-active-dark.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}
		
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= ACTIVE
			file			= "Panel/button-active-dark.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}

		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= SELECTED
			file			= "Panel/button-active-dark.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}
 
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= INSENSITIVE
		} 

		image
		{
			function		= ARROW
			recolorable		= TRUE
			arrow_direction		= DOWN
		}
	}
}

style "elementary-panel-text"
{
	fg[NORMAL]	= "#fff"
	fg[PRELIGHT]	= "#5D5D5D"
	fg[ACTIVE]	= "#ffffff"
	text[NORMAL]	= "#ffffff"
	text[PRELIGHT]	= "#ffffff"
	text[ACTIVE]	= "#ffffff"
}

style "elementary-main-menu-text" = "elementary-panel-text"
{
	fg[PRELIGHT]	= "#ffffff"
	text[PRELIGHT]	= "#ffffff"
}


style "elementary-panel-buttons" = "elementary-panel"
{
	GtkButton	::child-displacement-x	= 0
	GtkButton	::child-displacement-y	= 0

	xthickness	= 4
	ythickness	= 0

	engine "pixmap"
	{
		
		image
		{
			function		= BOX
			recolorable		= TRUE
			state			= PRELIGHT
			file			= "Panel/button-hover.png"
			border			= { 2, 2, 0, 0 }
			stretch			= TRUE
		}
		
	}
}

style "elementary-panel-handle" 
{
    engine "pixmap"
    {    
        image
        {
		function 	= HANDLE
        }    
 
	image
        {
        	function 	= HANDLE
        }
    }
}

style "murrine-menu-item" = "murrine-wider"
{
	
	fg[PRELIGHT]				= @selected_fg_color
	fg[SELECTED]				= @selected_fg_color
	fg[ACTIVE]				= @fg_color
	fg[INSENSITIVE]				= darker (@bg_color)

	bg[SELECTED]				= shade (0.90, @selected_bg_color)

	engine "murrine"
	{
		roundness			= 0
		lightborderstyle		= 1
		contrast			= 1.5
	}
}

style "murrine-menu-item" = "murrine-wider"
{
	
	fg[PRELIGHT]				= @selected_fg_color
	fg[SELECTED]				= @selected_fg_color
	fg[ACTIVE]				= @fg_color
	fg[INSENSITIVE]				= darker (@bg_color)

	bg[SELECTED]				= shade (0.80, @selected_bg_color)

	engine "murrine"
	{
		roundness			= 0
		lightborderstyle		= 1
		gradient_shades			= {1.0, 0.86, 0.85, 0.70}
	}
}

class "PanelApp*"				style "elementary-panel"
class "PanelToplevel*"				style "elementary-panel"
class "*Xfce*Panel*"				style "elementary-panel"

widget "*fast-user-switch*"			style "elementary-panel"
widget "PanelToplevel*PanelAppletFrame"		style "elementary-panel"
widget "PanelToplevel*PanelMenuBar"		style "elementary-panel"
widget "PanelToplevel*PanelWidget*"		style "elementary-panel"
widget "*Xfce*Panel*"				style "elementary-panel"

widget_class "BonoboPlug*PanelApplet*"		style "elementary-panel"
widget_class "*tray*"				style "elementary-panel"

# Make sure panel text color doesn't change
widget_class "*Panel*MenuBar*"			style "elementary-main-menu-text"
widget_class "*Panel*<GtkMenuBar>*"		style "elementary-main-menu-text"
widget "*.clock-applet-button.*"		style "elementary-panel-text"
widget "*PanelApplet*"				style "elementary-panel-text"

# Hide ugly handle
class "PanelAppletFrame" 			style:highest "elementary-panel-handle"

widget_class "*<GtkMenu>*"              	style "murrine-thin-dark"
