
style "elementary-panel" = "murrine-thin"
{

	bg_pixmap[NORMAL]	= "/Panel/panel.png" # Disable for normal panel backgrounds.

	bg[ACTIVE]				= shade (0.72, @bg_color)
	bg[SELECTED]				= shade (0.72, @bg_color)
	bg[PRELIGHT]				= shade (0.72, @bg_color)

	engine "murrine" {
		roundness			= 0
		highlight_shade     		= 1.0 
		lightborder_shade   		= 0.88
		gradient_shades     		= {0.90,1.05,1.06,1.20}
		contrast			= 1.05
		border_shades 			= {1.2, 1.1}
		textstyle			= 1
		arrowstyle			= 0
	}
}

style "elementary-panel-text"
{
	fg[NORMAL]	= "#4D4D4D"
	fg[PRELIGHT]	= "#5D5D5D"
	fg[ACTIVE]	= "#ffffff"
	text[NORMAL]	= "#4D4D4D"
	text[PRELIGHT]	= "#4D4D4D"
	text[ACTIVE]	= "#ffffff"
}

style "elementary-panel-handle" 
{
	engine "pixmap"
	{    
		image
		{
			function 	= HANDLE
		}
	}    
}

class "PanelApp*"				style "elementary-panel"
class "PanelToplevel*"				style "elementary-panel"
class "*Xfce*Panel*"				style "elementary-panel"

widget "*fast-user-switch*"			style "elementary-panel"
widget "PanelToplevel*PanelAppletFrame"		style "elementary-panel"
widget "PanelToplevel*PanelMenuBar"		style "elementary-panel"
widget "PanelToplevel*PanelWidget*"		style "elementary-panel"
widget "*Xfce*Panel*"				style "elementary-panel"

widget_class "BonoboPlug*PanelApplet*"		style "elementary-panel"
widget_class "*tray*"				style "elementary-panel"

# Make sure panel text color doesn't change
widget "*.clock-applet-button.*"		style "elementary-panel-text"

# Hide ugly handles and arrows
class "PanelAppletFrame" 			style:highest "elementary-panel-handle"
