
style "postler-filterbar-button" = "murrine-button"
{
	bg[ACTIVE]      			  = shade (0.9, @bg_color)
}

style "postler-treeview" = "murrine-default"
{	

	base[ACTIVE]				= @bg_color
	base[SELECTED]				= @bg_color
	text[ACTIVE]				= shade (1.35, @text_color)
	text[SELECTED]				= shade (1.35, @text_color)

	engine "murrine"
	{
		gradient_shades     		= {1.00,0.95,0.94,0.89}
		textstyle			= 1
		listviewstyle			= 0
	}
}

style "postler-messages" = "postler-treeview"
{	

	GtkTreeView::vertical-separator	= 12
	GtkTreeView::odd_row_color		= shade (0.95, @base_color)
}

style "postler-compose-scrolled"
{
	xthickness 	= 0

	engine "murrine" 
	{
		contrast	= 0.8
	}
}

style "postler-compose-toolbar" = "murrine-toolbar"
{

	engine "murrine" 
	{
		lightborder_shade	= 1.22	
		contrast		= 0.6	
		gradient_shades     		= {1.0,0.93,0.93,0.86}	
	}
}

widget_class	"*Postler*VPaned*Toolbar"			style "murrine-treeview-header"
widget_class	"*Postler*VPaned*Toolbar*Button"		style "postler-filterbar-button"
widget_class	"*Postler*.<GtkTreeView>*"			style "postler-treeview"
widget_class	"*Postler*PostlerMessages*"			style "postler-messages"
widget_class	"*PostlerComposer*Scrolled*"			style "postler-compose-scrolled"
widget_class	"*PostlerComposer*Toolbar"			style "postler-compose-toolbar"
