style "postler-handle-horiz"
{
	GtkPaned::handle-size		= 2
	
	engine "pixmap"
	{
		image
		{
		    function	= HANDLE
		    recolorable	= TRUE
		    file		= "Apps/nautilus/handle.png"
		    stretch		= TRUE
		    border 		= { 0, 0, 0, 0 }
		}
	}
}

style "postler-filterbar" 
{
	bg[NORMAL]        		= shade(1.3, @bg_color)
	fg[ACTIVE]     			= "#ffffff"

	engine "murrine" {
		contrast		= 1.25
	}
}

style "postler-filterbar-button" = "equinox-button"
{
	GtkWidget	::focus-line-width	= 0
	GtkWidget	::focus-padding		= 1

	xthickness 				= 1
	ythickness 				= 1

	bg[ACTIVE]        = shade (0.9, @bg_color)

	engine "equinox" {
		curvature			= 14
	}
}

widget_class	"*Postler*HPaned"			style "postler-handle-horiz"
widget_class	"*Postler*HPaned*PostlerFolders"	style "sidebar"
widget_class	"*Postler*VPaned*Toolbar"		style "postler-filterbar"
widget_class	"*Postler*VPaned*Toolbar*Button"	style "postler-filterbar-button"
