gtk_color_scheme = "sidebar_color:#e2e2e2"	# Sidebar color

style "postler-sidebar" {
	
	base[NORMAL]	= @sidebar_color
	text[NORMAL]	= mix (0.3, @sidebar_color, @text_color)

}

style "postler-handle-horiz"
{
	GtkPaned::handle-size         = 2
	
	engine "pixmap"
	{
		image # for the thin gray line separating the sidepane and viewpane
		{
		    function	= HANDLE
		    recolorable	= TRUE
		    file		= "Apps/nautilus/handle.png"
		    stretch		= TRUE
		    border 		= { 0, 0, 0, 0 }
		}
	}
}

style "postler-toolbar" 
{
	bg[NORMAL]        = @bg_color

	engine "murrine" {
		toolbarstyle		= 1
		lightborder_shade	= 1.0
		gradient_shades     	= {1.0,0.94,0.94,0.88}
	}
}

widget_class	"*Postler*HPaned"		style "postler-handle-horiz"
widget_class	"*Postler*HPaned*"		style "postler-sidebar"		#FIXME: lets get more specific
#widget_class	"*Postler*HPaned*VPaned"	style "postler-handle-vert"	#FIXME: create vertical pane style
widget_class	"*Postler*Toolbar"		style "postler-toolbar"
