style "rb-sidebar" = "sidebar"
{
	xthickness		= 0
	ythickness		= 0
}

style "nautilus-view"
{
	xthickness		= 0
	ythickness		= 0
}

style "nautilus-handle"
{
	GtkPaned::handle-size         = 2
	
	engine "pixmap"
	{
		image # for the thin gray line separating the sidepane and viewpane
		{
		    function	= HANDLE
		    recolorable	= TRUE
		    file		= "Apps/nautilus/handle.png"
		    stretch		= TRUE
		    border 		= { 0, 0, 0, 0 }
		}
	}
}

widget		"*GtkVBox*GtkHPaned"		style "nautilus-handle"
widget_class	"*RBSourceList*"		style "rb-sidebar"

