style "marlin-window-base"
{
	bg[NORMAL]	= @base_color
}

style "marlin-sidebar" = "sidebar"
{
	GtkTreeView::horizontal_separator	= 15
	GtkTreeView::vertical_separator		= 2
}

style "marlin-view"
{
	xthickness		= 0
	ythickness		= 0
}

style "marlin-scale"
{
	ythickness = 0

	GtkRange		::trough-border				= 0
	GtkScale		::trough-side-details			= 0
	
	engine "pixmap" 
	{
		image 
		{
			function		= BOX
			detail			= "trough"
			file			= "/Range/trough.png"
			border			= { 10, 10, 5, 15 }
		}	
		image 
		{
			function		= SLIDER
			overlay_file		= "/Range/slider.png"
			overlay_stretch		= FALSE
    }
  }
}

#widget		"*Marlin"			style "marlin-window-base"
widget_class	"*Marlin*CollapsablePaned"	style "pixmap-sidebar-handle-left"
widget_class	"*MarlinPlaces*Sidebar*"	style "marlin-sidebar"
widget_class	"*Marlin*HPaned"		style "pixmap-hpaned"
#widget_class	"*Marlin*Statusbar*"		style "marlin-statusbar"
#widget_class	"*Marlin*Scale*"		style "marlin-scale"

#widget_class	"*Marlin*Notebook"		style "marlin-notebook"

#widget "*.marlin-extra-view-widget" 		style : highest "marlin-extra-view"
