style "marlin-window-base"
{
	bg[NORMAL]	= @base_color
}

style "marlin-sidebar" = "sidebar"
{
	GtkTreeView::horizontal_separator	= 15
	GtkTreeView::vertical_separator		= 2
}

style "marlin-view"
{
	xthickness		= 0
	ythickness		= 0
}

style "marlin-scale"
{
	ythickness = 0

	GtkRange		::trough-border				= 0
	GtkScale		::trough-side-details			= 0
	
	engine "pixmap" 
	{
		image 
		{
			function		= BOX
			detail			= "trough"
			file			= "/Range/trough.png"
			border			= { 10, 10, 5, 15 }
		}	
		image 
		{
			function		= SLIDER
			overlay_file		= "/Range/slider.png"
			overlay_stretch		= FALSE
    }
  }
}


style "marlin-mode-button"
{

	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= PRELIGHT
			file				= "/marlin/mode_prelight.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= NORMAL
			file				= "/marlin/mode_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= ACTIVE
			file				= "/marlin/mode_pressed.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}  

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= INSENSITIVE
			file				= "/marlin/mode_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		} 

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= SELECTED
			file				= "/marlin/mode_pressed.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	}

}

#widget		"*Marlin"			style "marlin-window-base"
#widget		"*Marlin*HPaned"		style "pixmap-sidebar-handle-left"
#widget_class	"*Marlin*View*"			style "marlin-view"
#widget_class	"*Marlin*marlinSidePane*"	style "marlin-sidebar"
#widget_class	"*Marlin*Statusbar*"		style "marlin-statusbar"
#widget_class	"*Marlin*Scale*"		style "marlin-scale"

#widget_class	"*Marlin*Notebook"		style "marlin-notebook"

#widget		"*GtkModeButton*"		style "marlin-mode-button"

#widget "*.marlin-extra-view-widget" 		style : highest "marlin-extra-view"
