@function duration($transition) {
    @if $transition == "open" {
        @return 250ms;
    } @else if $transition == "close" {
        @return 200ms;
    }

    @if $transition == "expand" {
        @return 300ms;
    } @else if $transition == "collapse" {
        @return 250ms;
    }

    @if $transition == "element" {
        @return 100ms;
    }
}

$easing: cubic-bezier(0.4, 0, 0.2, 1);

.spin {
    animation: spin 600ms linear infinite;
}

@keyframes spin {
    to {
        -gtk-icon-transform: rotate(1turn);
    }
}
