$toplevel-border-color: rgba(0, 0, 0, 0.3);

@mixin view {
    background-color: $SILVER_100;
    color: $BLACK_500;
}

@mixin border-shadow {
    box-shadow: 0 0 0 1px $toplevel-border-color;
}

@mixin shadow($level) {
    @if $level == 1 {
        box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24),
            0 14px 28px transparent;
    } @else if $level == 2 {
        box-shadow:
            0 3px 4px rgba(0, 0, 0, 0.15),
            0 3px 3px -3px rgba(0, 0, 0, 0.35),
            0 14px 28px transparent;
    } @else if $level == 3 {
        box-shadow:
            0 8px 5px 1px rgba(0, 0, 0, 0.10),
            0 3px 8px 2px rgba(0, 0, 0, 0.10),
            0 5px 5px -3px rgba(0, 0, 0, 0.4),
            0 14px 28px transparent;
    } @else if $level == 4 {
        box-shadow:
            0 14px 28px rgba(0, 0, 0, 0.35),
            0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

@import '_animate.scss';
@import 'widgets/_widgets.scss';
