$toplevel-border-color: rgba(0, 0, 0, 0.3);

@if $color-scheme == "dark" {
    $toplevel-border-color: rgba(0, 0, 0, 0.6);
}

@mixin view {
    @if $color-scheme == "light" {
        background-color: $SILVER_100;
        color: $BLACK_500;
    } @else if $color-scheme == "dark" {
        background-color: $BLACK_500;
        color: #fff;
    }
}

@mixin border-shadow {
    box-shadow: 0 0 0 1px $toplevel-border-color;
}

@mixin shadow($level) {
    @if $color-scheme == "light" {
        @if $level == 1 {
            box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24),
                0 14px 28px transparent;
        } @else if $level == 2 {
            box-shadow:
                0 3px 4px rgba(0, 0, 0, 0.15),
                0 3px 3px -3px rgba(0, 0, 0, 0.35),
                0 14px 28px transparent;
        } @else if $level == 3 {
            box-shadow:
                0 8px 5px 1px rgba(0, 0, 0, 0.10),
                0 3px 8px 2px rgba(0, 0, 0, 0.10),
                0 5px 5px -3px rgba(0, 0, 0, 0.4),
                0 14px 28px transparent;
        } @else if $level == 4 {
            box-shadow:
                0 14px 28px rgba(0, 0, 0, 0.35),
                0 10px 10px rgba(0, 0, 0, 0.22);
        }
    } @else if $color-scheme == "dark" {
        @if $level == 1 {
            box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.42),
                0 1px 2px rgba(0, 0, 0, 0.44),
                0 14px 28px transparent;
        } @else if $level == 2 {
            box-shadow:
                0 3px 4px rgba(0, 0, 0, 0.25),
                0 3px 3px -3px rgba(0, 0, 0, 0.45),
                0 14px 28px transparent;
        } @else if $level == 3 {
            box-shadow:
                0 8px 5px 1px rgba(0, 0, 0, 0.10),
                0 3px 8px 2px rgba(0, 0, 0, 0.10),
                0 5px 5px -3px rgba(0, 0, 0, 0.4),
                0 14px 28px transparent;
        } @else if $level == 4 {
            box-shadow:
                0 14px 28px rgba(0, 0, 0, 0.45),
                0 10px 10px rgba(0, 0, 0, 0.32);
        }
    }
}

@import '_animate.scss';
@import 'widgets/_widgets.scss';
