$highlight-color: "#fff";
$titlebar-color :mix($SILVER_100, $SILVER_300, $weight: 30%);
$toplevel-border-color: rgba(0, 0, 0, 0.3);

@if $color-scheme == "dark" {
    $highlight-color: rgba(255, 255, 255, 0.2);
    $titlebar-color: mix($BLACK_500, $BLACK_700, $weight: 50%);
    $toplevel-border-color: rgba(0, 0, 0, 0.6);
}

@define-color color_primary #{$titlebar-color};
@define-color highlight_color #{$highlight-color};

@mixin view {
    @if $color-scheme == "light" {
        background-color: $SILVER_100;
        color: $BLACK_500;
    } @else if $color-scheme == "dark" {
        background-color: $BLACK_500;
        color: #fff;
    }
}

@mixin border-shadow {
    box-shadow: 0 0 0 1px $toplevel-border-color;
}

@mixin shadow($level) {
    @if $color-scheme == "light" {
        @if $level == 1 {
            box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24),
                0 14px 28px transparent;
        } @else if $level == 2 {
            box-shadow:
                0 3px 4px rgba(0, 0, 0, 0.15),
                0 3px 3px -3px rgba(0, 0, 0, 0.35),
                0 14px 28px transparent;
        } @else if $level == 3 {
            box-shadow:
                0 8px 5px 1px rgba(0, 0, 0, 0.10),
                0 3px 8px 2px rgba(0, 0, 0, 0.10),
                0 5px 5px -3px rgba(0, 0, 0, 0.4),
                0 14px 28px transparent;
        } @else if $level == 4 {
            box-shadow:
                0 14px 28px rgba(0, 0, 0, 0.35),
                0 10px 10px rgba(0, 0, 0, 0.22);
        }
    } @else if $color-scheme == "dark" {
        @if $level == 1 {
            box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.42),
                0 1px 2px rgba(0, 0, 0, 0.44),
                0 14px 28px transparent;
        } @else if $level == 2 {
            box-shadow:
                0 3px 4px rgba(0, 0, 0, 0.25),
                0 3px 3px -3px rgba(0, 0, 0, 0.45),
                0 14px 28px transparent;
        } @else if $level == 3 {
            box-shadow:
                0 8px 5px 1px rgba(0, 0, 0, 0.10),
                0 3px 8px 2px rgba(0, 0, 0, 0.10),
                0 5px 5px -3px rgba(0, 0, 0, 0.4),
                0 14px 28px transparent;
        } @else if $level == 4 {
            box-shadow:
                0 14px 28px rgba(0, 0, 0, 0.45),
                0 10px 10px rgba(0, 0, 0, 0.32);
        }
    }
}

%outset {
    background-image:
        linear-gradient(
            to bottom,
            #{'alpha(@highlight_color, 0.2)'},
            rgba(255, 255, 255, 0)
        );
    box-shadow:
        inset 0 1px 0 0 #{'alpha(@highlight_color, 0.3)'},
        inset 1px 0 0 0 #{'alpha(@highlight_color, 0.07)'},
        inset -1px 0 0 0 #{'alpha(@highlight_color, 0.07)'},
        inset 0 -1px 0 0 #{'alpha(@highlight_color, 0.2)'},
        0 0 0 1px rgba(0, 0, 0, 0.15),
        0 1px 2px rgba(0, 0, 0, 0.2);

    &.titlebar {
        box-shadow:
            inset 0 1px 0 0 #{'alpha(@highlight_color, 0.3)'},
            inset 1px 0 0 0 #{'alpha(@highlight_color, 0.07)'},
            inset -1px 0 0 0 #{'alpha(@highlight_color, 0.07)'},
            inset 0 -1px 0 0 #{'alpha(@highlight_color, 0.2)'},
            0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.4)'},
            0 1px 2px rgba(0, 0, 0, 0.2);
    }

    &:backdrop {
        background-image:
            linear-gradient(
                to bottom,
                #{'alpha(@highlight_color, 0.35)'},
                #{'alpha(@highlight_color, 0.3)'}
            );
        box-shadow:
            inset 0 1px 0 0 #{'alpha(@highlight_color, 0.3)'},
            inset 1px 0 0 0 #{'alpha(@highlight_color, 0.07)'},
            inset -1px 0 0 0 #{'alpha(@highlight_color, 0.07)'},
            inset 0 -1px 0 0 #{'alpha(@highlight_color, 0.2)'},
            0 0 0 1px rgba(0, 0, 0, 0.1),
            0 1px 2px rgba(0, 0, 0, 0.15);

        &.titlebar {
            box-shadow:
                inset 0 1px 0 0 #{'alpha(@highlight_color, 0.3)'},
                inset 1px 0 0 0 #{'alpha(@highlight_color, 0.07)'},
                inset -1px 0 0 0 #{'alpha(@highlight_color, 0.07)'},
                inset 0 -1px 0 0 #{'alpha(@highlight_color, 0.2)'},
                0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.3)'},
                0 1px 2px rgba(0, 0, 0, 0.15);
        }
    }
}

@import 'widgets/_widgets.scss';
