label {
    color: #{'@fg_color'};
}

.h1 {
    font-size: 24pt;
    letter-spacing: -0.04em;
}

.h2 {
    font-weight: 300;
    font-size: 18pt;
    letter-spacing: -0.05em;
}

.h3 {
    font-size: 11pt;
}

label.h4,
.h4 label {
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.primary {
    font-weight: 500;
    font-size: 1.22em
}

.accent {
    color: #{'@accent_color_700'};

    @if $color-scheme == "dark" {
        color: #{'mix(@accent_color_300, @accent_color_500, 0.5)'};
    }
}

.dim-label {
    opacity: 0.75;
}
