.h1 {
    font-size: 24pt;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.h2 {
    font-weight: 300;
    font-size: 18pt;
    letter-spacing: -0.05em;
}

.h3 {
    font-size: 11pt;
}

label.h4,
.h4 label {
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.primary {
    font-weight: 500;
    font-size: 1.22em
}

.accent,
.link,
:link {
    color: #{'@accent_color'};
}

.dim-label,
:visited {
    opacity: 0.75;
}

.keycap {
    background-color: bg-color(2);
    background-image:
        linear-gradient(
            to bottom,
            rgba(white, 0),
            #{'alpha(@highlight_color, 0.2)'},
        );
    border: 1px solid $toplevel-border-color;
    border-radius: rem(3px);
    box-shadow:
        outset-highlight(),
        inset 0 -1px 0 0 bg-color(4),
        0 1px 2px rgba(black, 0.05);
    font-size: 85%;
    min-width: rem(12px);
    // We add 1px on the bottom to account for box-shadow
    padding: rem(3px) rem(6px) calc(#{rem(3px)} + 1px);

    &:backdrop {
        background-image:
            linear-gradient(
                to bottom,
                #{'alpha(@highlight_color, 0.3)'},
                #{'alpha(@highlight_color, 0.35)'}
            );
    }
}

:link:hover label {
  text-decoration: underline;
}
