.badge {
    background-image:
        linear-gradient(
            to bottom,
            $STRAWBERRY_300,
            $STRAWBERRY_500
        );
    border: 1px solid $STRAWBERRY_700;
    border-radius: 99px;
    box-shadow:
        inset 0 0 0 1px rgba(white, 0.05),
        inset 0 1px 0 0 rgba(white, 0.25),
        inset 0 -1px 0 0 rgba(white, 0.1),
        0 1px 2px rgba(black, 0.3);
    color: white;
    font-weight: 700;
    min-height: rem(22px);
    min-width: rem(22px);
    text-shadow: 0 1px 1px $STRAWBERRY_900;

    @if $color-scheme == "dark" {
        background-clip: padding-box;
        border-color: $toplevel-border-color;
    }
}
