button {
    background-clip: padding-box;
    border-radius: 3px;
    // Explicitly set in case containers override default color
    color: $fg-color;
    // Off-by-one to account for padding-box clip
    padding: 4px 7px;
    transition: all 100ms ease-in;

    &:not(.image-button):not(.flat) {
        @extend %background-outset;
        background-color: bg-color(2);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow:
            outset-highlight("full"),
            0 1px 1px rgba(0, 0, 0, 0.03),
            0 1px 2px rgba(0, 0, 0, 0.1);

        &.titlebutton:not(:active) {
            background: none;
            border-color: transparent;
            box-shadow: none;
        }

        &:active,
        &:checked {
            background: rgba(0, 0, 0, 0.05);
            box-shadow: inset-shadow("");
        }

        &:disabled {
            background: rgba(0, 0, 0, 0.03);
            box-shadow:
                outset-highlight("full"),
                0 1px 0 0 #{'alpha(@highlight_color, 0.3)'};
        }
    }

    &:disabled {
        color: #{'@placeholder_text_color'};
    }

    &.combo,
    &.image-button,
    &.titlebutton {
        padding: 4px;
    }

    arrow {
        min-width: 16px;
        min-height: 16px;
        -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    }

    label {
        font-weight: 500;
    }
}
