button {
    background-clip: padding-box;
    border-radius: rem(3px);
    // Explicitly set in case containers override default color
    color: #{'@fg_color'};
    // Off-by-one to account for padding-box clip
    padding: rem(4px) rem(7px);
    transition: all 100ms ease-in;

    &:not(.image-button):not(.flat) {
        @extend %outset-background;
        background-color: bg-color(2);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow:
            outset-highlight("full"),
            outset-shadow(2);

        &.titlebutton:not(:active) {
            background: none;
            border-color: transparent;
            box-shadow: none;
        }

        &:active,
        &:checked {
            background: rgba(0, 0, 0, 0.05);
            box-shadow: inset-shadow();
        }

        &:disabled {
            background: rgba(0, 0, 0, 0.03);
            box-shadow:
                outset-highlight("full"),
                outset-shadow(1);
        }
    }

    &:disabled {
        color: #{'@placeholder_text_color'};
    }

    &.combo,
    &.image-button,
    &.titlebutton {
        padding: rem(4px);
    }

    arrow {
        min-width: rem(16px);
        min-height: rem(16px);
        -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    }

    label {
        font-weight: 500;
    }
}
