.deck {
    background-color: bg-color(3);
}

.card {
    background-color: bg-color(1);
    box-shadow:
        outset-highlight(),
        // Intentionally not in ems since it's used as a stroke
        0 0 0 1px rgba(black, 0.1),
        shadow(2);
    transition:
        background duration("element") $easing,
        box-shadow duration("expand") $easing;

    &.collapsed {
        background-color: bg-color(2);
        box-shadow:
            outset-highlight(),
            // Intentionally not in ems since it's used as a stroke
            0 0 0 1px rgba(black, 0.1),
            shadow(1);
        transition:
            background duration("element") $easing,
            box-shadow duration("collapse") $easing;
    }

    &.rounded {
        border-radius: rem(3px);
    }
}

.checkerboard {
    background-color: bg-color(3);
    background-image:
        linear-gradient(
            45deg,
            rgba(black, 0.1) 25%,
            transparent 25%,
            transparent 75%,
            rgba(black, 0.1) 75%,
            rgba(black, 0.1)
        ),
        linear-gradient(
            45deg,
            rgba(black, 0.1) 25%,
            transparent 25%,
            transparent 75%,
            rgba(black, 0.1) 75%,
            rgba(black, 0.1)
        );
    background-size: rem(24px) rem(24px);
    background-position: 0 0, rem(12px) rem(12px);
}
