.emoji-picker {
    entry {
        margin: rem(12px);
        margin-bottom: 0;
    }

    // Emoji are labels too, so we have to be specific
    box.vertical > label {
        @extend .h4;

        // Intentionally off-by-one
        margin-left: rem(7px);
        margin-right: rem(7px);
    }

    .emoji {
        min-height: 36px;
        min-width: 36px;
        font-size: 16px;
    }

    // "Inline Actionbar"
    stack box > box.horizontal {
        @extend .inline-toolbar;
        border-radius: 0 0 rem(6px) rem(6px);
    }

    .emoji-section {
        border-radius: 0;
        box-shadow: none;
        min-height: 24px;
        min-width: 24px;
        opacity: 0.6;

        &:checked {
            opacity: 1;
        }

        &:hover {
            opacity: 0.8;
        }

        &:first-child {
            border-bottom-left-radius: rem(6px);
        }

        &:last-child {
            border-bottom-right-radius: rem(6px);
        }
    }
}
