%entry {
    background-color: bg-color(1);
    background-clip: padding-box;
    border: 1px solid $border-color;
    border-radius: rem(3px);
    box-shadow: inset-shadow("");
    color: #{'@fg_color'};

    &:disabled {
        background: rgba(black, 0.03);
        box-shadow: inset-shadow("disabled");
        color: $insensitive-fg-color;
    }
}

entry {
    @extend %entry;
    // Off-by-one to account for padding-box clip
    padding: rem(4px);

    image {
        color: #{'@placeholder_text_color'};
        transition: all duration("element") $easing;
        -gtk-icon-palette:
            error #{'@error_color'},
            success #{'@success_color'},
            warning #{'@warning_color'};
    }

    image.left {
        margin-right: rem(6px);
    }

    image.right {
        margin-left: rem(6px);
    }

    // We only want the action side icon to react on hover
    &:dir(ltr) image.right:hover,
    &:dir(rtl) image.left:hover {
        color: $fg-color;
    }
}
