window,
dialog,
messagedialog,
.titlebar,
.background,
.csd {
    background-color: bg_color(2);
    color: $fg-color;
}

// Text and image color
@define-color fg_color #{"" + $fg-color};

// Placeholder text in entries. Doesn't respect alpha
@define-color placeholder_text_color #{"" + mix($fg-color, bg-color(1), $weight: 75%)};

@define-color error_color @STRAWBERRY_500;
@define-color success_color @LIME_700;
@define-color warning_color @BANANA_900;

// Things Dazzle expects
@define-color borders #{"" + $toplevel-border-color};
@define-color content_view_bg #{""+ bg_color(2)};
@define-color theme_fg_color #{"" + $fg-color};
@define-color theme_selected_fg_color #{"" + $fg-color};
@define-color wm_shadow #{rgba(black, 0.2)};

selection {
    background-color: #{'alpha(@accent_color_100, 0.3)'};
    color: #{'@accent_color_900'};
}

@if $color-scheme == "dark" {
    @define-color error_color @STRAWBERRY_300;
    @define-color success_color @LIME_300;
    @define-color warning_color @BANANA_100;

    selection {
        background-color: #{'alpha(@accent_color_700, 0.3)'};
        color: #{'@accent_color_100'};
    }
}

.error {
    color: #{'@error_color'};
}

.success {
    color: #{'@success_color'};
}

.warning {
    color: #{'@warning_color'};
}

@import '_buttons.scss';
@import '_cards.scss';
@import '_checkbuttons.scss';
@import '_entries.scss';
@import '_levelbars.scss';
@import '_linked.scss';
@import '_menus.scss';
@import '_notebooks.scss';
@import '_panes.scss';
@import '_popovers.scss';
@import '_progressbars.scss';
@import '_scales.scss';
@import '_scrollbars.scss';
@import '_sidebars.scss';
@import '_spinners.scss';
@import '_switches.scss';
@import '_toolbars.scss';
@import '_tooltips.scss';
@import '_windows.scss';
