window,
dialog,
messagedialog,
.titlebar,
.background,
.csd {
    background-color: bg_color(2);
    color: $fg-color;
}

// Text and image color
@define-color fg_color #{"" + $fg-color};

// Placeholder text in entries. Doesn't respect alpha
@define-color placeholder_text_color #{"" + mix($fg-color, bg-color(1), $weight: 75%)};

// Separator color
@define-color menu_separator #{rgba(black, 0.15)};

@define-color error_color @STRAWBERRY_500;
@define-color success_color @LIME_700;
@define-color warning_color @BANANA_900;

// Things Dazzle expects
@define-color borders #{"" + $toplevel-border-color};
@define-color content_view_bg #{""+ bg_color(2)};
@define-color theme_fg_color #{"" + $fg-color};
@define-color theme_selected_fg_color #{"" + $fg-color};
@define-color wm_shadow #{rgba(black, 0.2)};

// Things other apps expect
@define-color base_color #{"" + bg_color(1)};
@define-color theme_text_color #{'@text_color'};
@define-color theme_bg_color #{'@bg_color'};
@define-color theme_base_color #{'@base_color'};
@define-color selected_bg_color #{'alpha(@accent_color_100, 0.3)'};
@define-color selected_fg_color #{'@accent_color_900'};
@define-color theme_selected_bg_color #{'@selected_bg_color'};
@define-color insensitive_fg_color #{'@insensitive_color'};

@if $color-scheme == "dark" {
    @define-color selected_bg_color #{'alpha(@accent_color_700, 0.3)'};
    @define-color selected_fg_color #{'@accent_color_100'};
}

selection {
    background-color: #{'@selected_bg_color'};
    color: #{'@selected_fg_color'};
}

@if $color-scheme == "dark" {
    @define-color error_color @STRAWBERRY_300;
    @define-color success_color @LIME_300;
    @define-color warning_color @BANANA_100;
    @define-color menu_separator rgba(black, 0.25);

    @define-color selected_bg_color #{'alpha(@accent_color_700, 0.3)'};
    @define-color selected_fg_color #{'@accent_color_100'};
}

.checkerboard {
    background-color: bg-color(3);
    background-image:
        linear-gradient(
            45deg,
            rgba(black, 0.1) 25%,
            transparent 25%,
            transparent 75%,
            rgba(black, 0.1) 75%,
            rgba(black, 0.1)
        ),
        linear-gradient(
            45deg,
            rgba(black, 0.1) 25%,
            transparent 25%,
            transparent 75%,
            rgba(black, 0.1) 75%,
            rgba(black, 0.1)
        );
    background-size: rem(24px) rem(24px);
    background-position: 0 0, rem(12px) rem(12px);
}

.circular {
    // Not  50% because that creates a squished elipse for non-squares widgets
    border-radius: 9999px;
}

.avatar {
    border: 1px solid rgba(black, 0.35);
    border-radius: 50%;
    box-shadow:
        outset-highlight(),
        outset-shadow(3);
}

.error {
    color: #{'@error_color'};
}

.success {
    color: #{'@success_color'};
}

.warning {
    color: #{'@warning_color'};
}

@import '_buttons.scss';
@import '_cards.scss';
@import '_checkbuttons.scss';
@import '_entries.scss';
@import '_levelbars.scss';
@import '_linked.scss';
@import '_lists.scss';
@import '_menus.scss';
@import '_notebooks.scss';
@import '_notifications.scss';
@import '_panes.scss';
@import '_popovers.scss';
@import '_progressbars.scss';
@import '_scales.scss';
@import '_scrollbars.scss';
@import '_sidebars.scss';
@import '_spinners.scss';
@import '_switches.scss';
@import '_toolbars.scss';
@import '_tooltips.scss';
@import '_views.scss';
@import '_windows.scss';
