image:disabled {
    -gtk-icon-effect: dim;
}

selection {
    background-color: #{'@selected_bg_color'};
    color: #{'@selected_fg_color'};
}

.checkerboard {
    background-color: bg-color(3);
    background-image:
        linear-gradient(
            45deg,
            rgba(black, 0.1) 25%,
            transparent 25%,
            transparent 75%,
            rgba(black, 0.1) 75%,
            rgba(black, 0.1)
        ),
        linear-gradient(
            45deg,
            rgba(black, 0.1) 25%,
            transparent 25%,
            transparent 75%,
            rgba(black, 0.1) 75%,
            rgba(black, 0.1)
        );
    background-size: rem(24px) rem(24px);
    background-position: 0 0, rem(12px) rem(12px);
}

.circular {
    // Not  50% because that creates a squished elipse for non-squares widgets
    border-radius: 9999px;
}

.error {
    color: #{'@error_color'};
}

.success {
    color: #{'@success_color'};
}

.warning {
    color: #{'@warning_color'};
}

@import '_avatars.scss';
@import '_badges.scss';
@import '_buttons.scss';
@import '_calendars.scss';
@import '_cards.scss';
@import '_checkbuttons.scss';
@import '_colorchoosers.scss';
@import '_emojipicker.scss';
@import '_entries.scss';
@import '_expanders.scss';
@import '_infobars.scss';
@import '_levelbars.scss';
@import '_linked.scss';
@import '_lists.scss';
@import '_menubars.scss';
@import '_menus.scss';
@import '_notebooks.scss';
@import '_notifications.scss';
@import '_panes.scss';
@import '_popovers.scss';
@import '_progressbars.scss';
@import '_scales.scss';
@import '_scrollbars.scss';
@import '_separators.scss';
@import '_sidebars.scss';
@import '_spinbuttons.scss';
@import '_spinners.scss';
@import '_stackable_boxes.scss';
@import '_storagebars.scss';
@import '_switches.scss';
@import '_toasts.scss';
@import '_toolbars.scss';
@import '_tooltips.scss';
@import '_treeviews.scss';
@import '_views.scss';
@import '_windows.scss';
