%linked_not_left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

%linked_not_right {
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

%linked_not_top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

%linked_not_bottom {
    border-bottom-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.linked:not(.vertical) > button,
.linked:not(.vertical) > entry {
    &:dir(ltr) {
        &:not(:first-child) {
            @extend %linked_not_left;
        }

        &:not(:last-child) {
            @extend %linked_not_right;
        }
    }

    &:dir(rtl) {
        &:not(:first-child) {
            @extend %linked_not_right;
        }

        &:not(:last-child) {
            @extend %linked_not_left;
        }
    }
}

.linked.vertical > button,
.linked.vertical > entry {
    &:not(:first-child) {
        @extend %linked_not_top;
    }

    &:not(:last-child) {
        @extend %linked_not_bottom;
    }
}

combobox.linked button:nth-child(2) {
    &:dir(ltr) {
        @extend %linked_not_left;
    }

    &:dir(rtl) {
        @extend %linked_not_right;
    }
}


.linked:not(.vertical) > combobox {
    &:dir(ltr) {
        &:not(:first-child) > box > button.combo {
            @extend %linked_not_left;
        }

        &:not(:last-child) > box > button.combo {
            @extend %linked_not_right;
        }
    }

    &:dir(rtl) {
        &:not(:first-child) > box > button.combo {
            @extend %linked_not_right;
        }

        &:not(:last-child) > box > button.combo {
            @extend %linked_not_left;
        }
    }
}

.linked.vertical > combobox {
    &:not(:first-child) > box > button.combo {
        @extend %linked_not_top;
    }

    &:not(:last-child) > box > button.combo {
        @extend %linked_not_bottom;
    }
}
