@mixin view {
    background: $BLACK_500;
    color: #fff;
}

@mixin window-shadow($level) {
    @if $level == 1 {
        box-shadow:
            0 0 0 1px rgba(0, 0, 0, 0.6),
            0 1px 3px rgba(0, 0, 0, 0.42),
            0 1px 2px rgba(0, 0, 0, 0.44),
            0 14px 28px transparent;
    } @else if $level == 2 {
        box-shadow:
            0 0 0 1px rgba(0, 0, 0, 0.6),
            0 3px 8px rgba(0, 0, 0, 0.36),
            0 3px 6px rgba(0, 0, 0, 0.43),
            0 14px 28px transparent;
    } @else if $level == 3 {
        box-shadow:
            0 0 0 1px rgba(0, 0, 0, 0.65),
            0 14px 28px rgba(0, 0, 0, 0.45),
            0 10px 10px rgba(0, 0, 0, 0.32);
    }
}
