@mixin view {
    background: $SILVER_100;
    color: $BLACK_500;
}

@mixin window-shadow($level) {
    @if $level == 1 {
        box-shadow:
            0 0 0 1px rgba(0, 0, 0, 0.2),
            0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24),
            0 14px 28px transparent;
    } @else if $level == 2 {
        box-shadow:
            0 0 0 1px rgba(0, 0, 0, 0.2),
            0 3px 8px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23),
            0 14px 28px transparent;
    } @else if $level == 3 {
        box-shadow:
            0 0 0 1px rgba(0, 0, 0, 0.3),
            0 14px 28px rgba(0, 0, 0, 0.35),
            0 10px 10px rgba(0, 0, 0, 0.22);
    }
}
