%tabheader {
    background-color: #{'shade (@tab_base_color, 0.95)'};

    @if $color-scheme == "dark" {
        background-color: #{'shade (@tab_base_color, 0.87)'};
    }


    $gradient: 
        rgba(black, 0),
        rgba(black, 0) calc(100% - #{rem(2px)}),
        rgba(black, 0.05) calc(100% - #{rem(1px)}),
        rgba(black, 0.15);

    background-image: linear-gradient(to bottom, $gradient);

    &.bottom {
        background-image: linear-gradient(to top, $gradient);
    }

    &.right {
        background-image: linear-gradient(to left, $gradient);
    }

    &.left {
        background-image: linear-gradient(to right, $gradient);
    }

    &:backdrop {
        background-color: #{'shade (@tab_base_color, 0.98)'};
    }
}

notebook {
    header {
        @extend %tabheader;

        // Matches the new tab and history buttons
        > box > button.image-button,
        > button.image-button {
            min-width: rem(24px);
        }

        arrow {
            -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
            min-height: 16px;
            min-width: 16px;

            &.down {
                -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
            }

            &:disabled {
                color: $insensitive-fg-color;
            }
        }
    }

    viewport {
        background-color: bg-color(1);
    }
}

tab {
    border-radius: rem(3px);
    transition: all duration("in-place") $easing;

    .bottom &,
    .top & {
        margin: rem(3px) 0;
    }

    .left &,
    .right & {
        margin: 0 rem(3px);
    }

    // Not scaled because it's based on icon size
    min-width: 24px;
    padding: rem(3px);

    .tab-close-button,
    .tab-indicator {
        @extend .flat;
    }

    &:hover:not(:checked) {
        background-color: #{'shade (@tab_base_color, 0.9)'};
    }

    &:checked {
        background-color: #{'@tab_base_color'};
        box-shadow:
            outset-highlight(),
            0 0 0 1px rgba(black, 0.1),
            outset-shadow(2);

        &:backdrop {
            background-color: #{'shade (@tab_base_color, 0.97)'};
        }
    }
}

tabbar {
    .box {
        @extend %tabheader;

        // Fix showing box shadow from the headerbar
        margin-top: rem(2px);
        // So undershoot doesn't cover the borders
        padding-bottom: rem(2px);

        tabbox {
            background: transparent;
        }
    }

    tab {
        background-clip: padding-box;
        border: 1px solid transparent;
        margin: 0 1px;
        min-height: 24px;
        transition: all 150ms ease-in;

        &:checked {
            border-color: rgba(black, 0.15);
            box-shadow: outset-highlight();
        }
    }

    undershoot {
        &.left {
            background-image: linear-gradient(
                to left,
                #{'alpha (@tab_base_color, 0)'},
                #{'shade (@tab_base_color, 0.95)'}
            );
        }

        &.right {
            background-image: linear-gradient(
                to right,
                #{'alpha (@tab_base_color, 0)'},
                #{'shade (@tab_base_color, 0.95)'}
            );
        }

        @if $color-scheme == "dark" {
            &.left {
                background-image: linear-gradient(
                    to left,
                    #{'alpha (@tab_base_color, 0)'},
                    #{'shade (@tab_base_color, 0.97)'}
                );
            }

            &.right {
                background-image: linear-gradient(
                    to right,
                    #{'alpha (@tab_base_color, 0)'},
                    #{'shade (@tab_base_color, 0.97)'}
                );
            }
        }
    }

    .start-action,
    .end-action {
        button {
            margin: rem(3px);
            padding: rem(3px) rem(6px);
        }
    }
}

.tab-drag-icon {
    tab {
        box-shadow:
            outset-highlight(),
            // Intentionally not in ems since it's used as a stroke
            0 0 0 1px rgba(black, 0.1),
            shadow(1);
        margin: 12px;
    }
}
