

notebook {
    header {
        background-color: bg-color(3);

        $gradient: 
            rgba(black, 0),
            rgba(black, 0) calc(100% - #{rem(2px)}),
            rgba(black, 0.05) calc(100% - #{rem(1px)}),
            rgba(black, 0.15);

        &.top {
            background-image: linear-gradient(to bottom, $gradient);
        }

        &.bottom {
            background-image: linear-gradient(to top, $gradient);
        }

        &.right {
            background-image: linear-gradient(to left, $gradient);
        }

        &.left {
            background-image: linear-gradient(to right, $gradient);
        }

        &:backdrop {
            background-color: bg-color(2);
        }

        // Matches the new tab and history buttons
        > box > button.image-button,
        > button.image-button {
            min-width: rem(24px);
        }
    }

    viewport {
        background-color: bg-color(1);
    }
}

tab {
    $border-radius: rem(3px);
    $margin: rem(6px);

    .top & {
        border-radius: $border-radius $border-radius 0 0;
        margin-top: $margin;
        margin-bottom: 1px;
    }

    .bottom & {
        border-radius: 0 0 $border-radius $border-radius;
        margin-bottom: $margin;
    }

    .left & {
        border-radius: $border-radius 0 0 $border-radius;
        margin-left: $margin;
    }

    .right & {
        border-radius: 0 $border-radius $border-radius 0;
        margin-right: $margin;
    }

    // Not scaled because it's based on icon size
    min-width: 24px;
    padding: rem(4px);

    &:hover:not(:checked) {
        background-color: bg-color(4);
    }

    &:checked {
        background-color: bg-color(1);

        .top & {
            box-shadow: 0 rem(-1px) 0 0 #{"@accent_color"};
        }
        .bottom & {
            border-bottom: rem(2px) solid #{"@accent_color"};
        }
        .left & {
            border-left: rem(2px) solid #{"@accent_color"};
        }
        .right & {
            border-right: rem(2px) solid #{"@accent_color"};
        }

        &:backdrop {
            background-color: bg-color(2);
        }
    }
}
