notebook {
    header {
        background-color: bg-color(3);

        &.top {
            background-image:
                linear-gradient(
                    to bottom,
                    rgba(black, 0),
                    rgba(black, 0) calc(100% - #{rem(2px)}),
                    rgba(black, 0.05) calc(100% - #{rem(1px)}),
                    rgba(black, 0.15)
                );
        }

        &.bottom {
            background-image:
                linear-gradient(
                    to top,
                    rgba(black, 0),
                    rgba(black, 0) calc(100% - #{rem(2px)}),
                    rgba(black, 0.05) calc(100% - #{rem(1px)}),
                    rgba(black, 0.15)
                );
        }

        &.right {
            background-image:
                linear-gradient(
                    to left,
                    rgba(black, 0),
                    rgba(black, 0) calc(100% - #{rem(2px)}),
                    rgba(black, 0.05) calc(100% - #{rem(1px)}),
                    rgba(black, 0.15)
                );
        }

        &.left {
            background-image:
                linear-gradient(
                    to right,
                    rgba(black, 0),
                    rgba(black, 0) calc(100% - #{rem(2px)}),
                    rgba(black, 0.05) calc(100% - #{rem(1px)}),
                    rgba(black, 0.15)
                );
        }

        &:backdrop {
            background-color: bg-color(2);
        }

        // Matches the new tab and history buttons
        > box > button.image-button,
        > button.image-button {
            min-width: rem(24px);
        }
    }

    viewport {
        background-color: bg-color(1);
    }
}

tab {
    border-radius: rem(3px);
    // Slow to match the close button revealer transition
    transition: all 300ms ease-in;

    .bottom &,
    .top & {
        margin: rem(3px) 0;
    }

    .left &,
    .right & {
        margin: 0 rem(3px);
    }

    // Not scaled because it's based on icon size
    min-width: 24px;
    padding: rem(3px);

    &:hover:not(:checked) {
        background-color: bg-color(4);
    }

    &:checked {
        background-color: bg-color(1);
        box-shadow:
            outset-highlight(),
            0 0 0 1px rgba(black, 0.1),
            outset-shadow(2);

        &:backdrop {
            background-color: bg-color(2);
        }
    }
}
