paned.horizontal > separator {
    background-image:
        linear-gradient(
            to right,
            #{'@menu_separator'} 1px,
            #fff 1px,
            #fff 2px,
            transparent 2px
        );

    @if $color-scheme == "dark" {
        background-image:
            linear-gradient(
                to right,
                #{'@menu_separator'} 2px,
                transparent 2px
            );
    }
    // This creates the invisible resize handle
    margin-right: rem(-9px);
    min-width: rem(8px);
}
