popover {
    @extend %menu;
    background-clip: padding-box;
    border: 1px solid $toplevel-border-color;
    box-shadow: shadow(2);
    margin: 6px;

    modelbutton {
        @extend %menuitem;
    }

    // Almost certainly means you are using ModelMenu
    &.menu > stack {
        // These are hardcoded values in Gtk, we don't want rems here
        margin: -4px -10px;
    }

    separator {
        &.horizontal {
            border-top: 1px solid #{'@menu_separator'};
            border-bottom: 1px solid #{'@menu_separator_shadow'};
            margin-bottom: -1px;
        }

        &.vertical {
            border-left: 1px solid #{'@menu_separator'};
            border-right: 1px solid #{'@menu_separator_shadow'};
            margin-right: -1px;
        }
    }

    undershoot {
        &.top {
            background:
                linear-gradient(
                    bg_color(2) 0%,
                    rgba(bg_color(2), 0) 50%
                );
        }

        &.bottom {
            background:
                linear-gradient(
                    rgba(bg_color(2), 0) 50%,
                    bg_color(2) 100%
                );
        }
    }
}
