progressbar {
    border-radius: rem(2px);

    progress,
    trough {
        border: 1px solid $border-color;
        border-radius: rem(2px);
    }

    progress {
        background-color: #{'@accent_color_300'};
        box-shadow: outset-highlight();

        &:backdrop {
            background-color: bg-color(4);
        }

        @if $color-scheme == "dark" {
            background-clip: padding-box;
        }
    }

    trough {
        background-color: bg-color(0);
        box-shadow:
            outset-highlight(),
            outset-shadow(1);

        @if $color-scheme == "dark" {
            background-clip: padding-box;
        }
    }

    &.horizontal {
        progress,
        trough {
            @extend %outset-background;
        }

        progress {
            margin-left: -1px;
            margin-right: -1px;
        }
    }

    &.vertical {
        progress,
        trough {
            @extend %outset-background-vertical;
        }

        progress {
            margin: -1px 0;
        }
    }
}
