scale {
    fill {
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    }

    highlight {
        background-color: rgba(0, 0, 0, 0.45);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);

        &:disabled {
            background-color: rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        }
    }

    mark indicator {
        color: mix(bg-color(4), $fg-color, $weight: 75%);
    }

    slider {
        @extend %background-outset;
        background-color: bg-color(2);
        border-radius: 12px;
        box-shadow:
            outset-highlight(),
            0 0 0 1px rgba(0, 0, 0, 0.25),
            0 1px 1px 1px rgba(0, 0, 0, 0.1);
        min-height: 14px;
        min-width: 14px;

        &:backdrop {
            box-shadow:
                outset-highlight(),
                0 0 0 1px rgba(0, 0, 0, 0.2),
                0 1px 1px 1px rgba(0, 0, 0, 0.08);
        }

        &:disabled {
            background-color: transparent;
            background-image: none;
            border: none;
            box-shadow: none;
        }
    }

    trough {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: inset-shadow();
        min-height: 3px;
        min-width: 3px;

        &:disabled {
            background-image: none;
        }
    }

    &.accent {
        fill {
            background-color: #{'alpha(@accent_color_500, 0.33)'};
        }

        highlight {
            background-color: #{'alpha (@accent_color_500, 0.67)'};
        }
    }

    &.horizontal {
        highlight.top,
        fill.top {
            border-radius: 12px 0 0 12px;
            margin: 0 0 0 -6px;
        }

        highlight.bottom,
        fill.bottom {
            border-radius: 0 12px 12px 0;
            margin: 0 -6px 0 0;
        }

        mark indicator {
            min-height: 6px;
            min-width: 1px;
        }

        slider {
            margin: -6px 0;
        }

        trough {
            margin: 6px 0;
            padding: 0 6px;
        }
    }

    &.vertical {
        highlight.top,
        fill.top {
            border-radius: 12px 12px 0 0;
            margin: -6px 0 0;
        }

        highlight.bottom,
        fill.bottom {
            border-radius: 0 0 12px 12px;
            margin: 0 0 -6px;
        }

        mark indicator {
            min-height: 1px;
            min-width: 6px;
        }

        slider {
            margin: 0 -6px;
        }

        trough {
            margin: 0 6px;
            padding: 6px 0;
        }
    }
}

.seek-bar scale slider {
    background: transparent;
    border: transparent;
    box-shadow: none;
    min-width: 0;
    min-height: 0;
}
