.sidebar {
    list {
        background-color: bg_color(3);
        padding-top: rem(6px);
        border-bottom-left-radius: rem(6px);

        row {
            padding: rem(6px) rem(12px);

            &:hover {
                background-color: rgba(white, 0.75);

                @if $color-scheme == "dark" {
                    background-color: rgba(white, 0.05);
                }
            }

            &:selected {
                background-color: bg_color(4);
            }
        }
    }
}
