.sidebar {
    list {
        background-color: bg_color(3);
        padding-top: em(6px);
        border-bottom-left-radius: em(6px);

        row {
            padding: em(6px) em(12px);

            &:hover {
                background-color: rgba(255, 255, 255, 0.75);

                @if $color-scheme == "dark" {
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }

            &:selected {
                background-color: bg_color(4);
            }
        }
    }
}
