spinner {
    background-image: none;
    opacity: 0;
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");

    &:checked {
        opacity: 0.8;
        animation: spin 600ms steps(12) infinite;

        &:disabled {
            opacity: 0.4;
        }
    }
}
