switch {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset-shadow();
    border-radius: rem(16px);
    color: transparent; // Labels in GTK 3.22/Hera
    transition: all 200ms ease-in;

    &:checked:not(.mode-switch):not(:backdrop) {
        @extend %outset-background;
        background-color: #{"@accent_color_500"};

        @if $color-scheme == "light" {
            border-color: #{"shade(@accent_color_500, 0.85)"};
        } @else if $color-scheme == "dark" {
            background-clip: padding-box;

            slider {
                box-shadow:
                    outset-highlight("full"),
                    0 0 0 1px rgba(0, 0, 0, 0.5),
                    outset-shadow(3);
            }
        }
    }

    image {
        color: transparent;
    }

    slider {
        @extend %outset-background;
        background-color: bg-color(2);
        background-clip: padding-box;
        border-radius: 50%;
        box-shadow:
            outset-highlight("full"),
            0 0 0 1px rgba(0, 0, 0, 0.2),
            outset-shadow(3);
        min-height: rem(24px);
        min-width: rem(24px);
    }

    &.mode-switch slider {
        min-height: rem(16px);
        min-width: rem(16px);
    }

    &:disabled {
        box-shadow: inset-shadow("disabled");

        slider {
            background-color: bg-color(3);
            box-shadow:
                outset-highlight("full"),
                0 0 0 1px rgba(0, 0, 0, 0.15),
                outset-shadow(2);
        }
    }
}
