.app-notification,
.app-notification.frame {
    background-color: rgba($fg-color, 0.85);
    border: none;
    border-radius: rem(6px);
    box-shadow: shadow(1);
    margin: rem(6px);
    padding: rem(6px);

    button {
        background-color: rgba(bg-color(1), 0.9);
        color: $fg-color;

        &.close-button {
            background-color: $fg-color;
            border-radius: 50%;
            color: rgba(bg-color(1), 0.9);
            padding: rem(6px);

            &:active {
                background-color: rgba($fg-color, 0.7);
                box-shadow: none;
                color: rgba(bg-color(1), 0.7);
            }
        }

        &.text-button {
            border-width: 0;
            box-shadow: none;

            &:active {
                background-color: rgba(bg-color(1), 0.7);
                box-shadow: none;
                color: rgba($fg-color, 0.7);
            }
        }

        label {
            color: $fg-color;
            text-shadow: none;
        }
    }

    label {
        color: bg-color(1);
        text-shadow: 0 1px 2px rgba($fg-color, 0.6);
    }
}
