actionbar {
    background-color: bg-color(3);

    &.flat,
    &.inline-toolbar {
        background-color: bg-color(2);
        background-image:
            linear-gradient(
                to bottom,
                rgba(black, 0.4),
                rgba(black, 0.07) 1px,
                transparent rem(3px)
            );
    }
}

.search-bar {
    background-color: bg-color(3);
}

toolbar separator {
    background: none;
    margin: 0 rem(18px);
}

toolbar paned separator,
.toolbar .pane-separator {
    // transparent smudges colors instead of being true transparent
    background-color: rgba(black, 0.0);
    box-shadow: none;
}
