.inline-toolbar {
    background-color: bg-color(2);
    background-image:
        linear-gradient(
            to bottom,
            rgba(black, 0.4),
            rgba(black, 0.07) 1px,
            transparent rem(3px)
        );

    .sidebar & {
        background-color: mix(bg-color(3), bg-color(4), 50%);
        background-image:
            linear-gradient(
                to bottom,
                rgba(black, 0.3),
                rgba(black, 0.04) 1px,
                transparent rem(3px)
            );
        padding: rem(6px);

        button {
            @extend .flat;
        }
    }
}

actionbar {
    background-color: bg-color(3);

    &.flat{
        @extend .inline-toolbar;
    }
}

.search-bar {
    background-color: bg-color(3);
}
