frame,
.frame {
  border: 1px solid $toplevel-border-color;

    &.flat {
        border-style: none;
    }
}

scrolledwindow {
    // avoid double borders when viewport inside scrolled window
    > viewport.frame {
        border-style: none;
    }
}

.view {
    background-color: bg-color(1);
    color: $fg-color;

    &.terminal {
        background-color: #252e32;
        color: #94a3a5;

        & text {
            font-family: monospace;

            & selection {
                background-color: #93a1a1;
                color: #252e32;
            }
        }
    }
}
