window,
dialog,
messagedialog,
menu,
popover,
.titlebar,
.background,
.csd {
    @include bg-color(2);
    color: $fg-color;
}

window:not(.popup),
dialog {
    border-radius: 0 0 6px 6px;

    > decoration {
        border-radius: 6px;
        margin: 12px;

        &:backdrop {
            @include shadow(2);
        }
    }

    > headerbar.titlebar {
        border-radius: 6px 6px 0 0;
    }
}

window:not(.popup) {
    box-shadow: 0 0 0 1px $toplevel-border-color;

    > decoration {
        @include shadow(4);

        &:backdrop {
            @include shadow(2)
        }
    }

    &.tiled {
        > decoration {
            @include shadow(1);
        }
    }

    headerbar.titlebar {
        @extend %border-outset;
        background-color: #{"@color_primary"};
        box-shadow:
            $outset-highlight-full,
            0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.4)'},
            0 1px 2px rgba(0, 0, 0, 0.2);
        padding: 6px;

        &:backdrop {
            box-shadow:
                $outset-highlight-full,
                0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.3)'},
                0 1px 2px rgba(0, 0, 0, 0.15);
        }

	    .title {
	        font-weight: 600;
	    }
    }
}

dialog {
    box-shadow:
        0 0 0 1px $toplevel-border-color,
        $outset-highlight-bottom;

    > decoration {
        @include shadow(3);

        &:backdrop {
            @include shadow(2);
        }
    }

    > headerbar.titlebar {
        box-shadow: $outset-highlight-top;

        label.title {
            font-size: 0.1px; // Workaround for an issue in Gtk when setting 0px
            color: transparent;
        }
    }
}

popover {
    @include shadow(2);
    background-clip: padding-box;
    border: 1px solid $toplevel-border-color;
    border-radius: 6px;
    margin: 6px;
}

.sidebar {
    list {
        @include bg-color(3);
        padding-top: 6px;
        border-bottom-left-radius: 6px;

        row {
            padding: 6px 12px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.75);

                @if $color-scheme == "dark" {
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }

            &:selected {
                @include bg-color(4);
            }
        }
    }
}

paned.horizontal > separator {
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.05) 1px,
            #fff 1px,
            #fff 2px,
            transparent 2px
        );

    @if $color-scheme == "dark" {
        background-image:
            linear-gradient(
                to right,
                rgba(0, 0, 0, 0.15) 1px,
                rgba(255, 255, 255, 0.01) 1px,
                rgba(255, 255, 255, 0.01) 2px,
                transparent 2px
            );
    }
    // This creates the invisible resize handle
    margin-right: -7px;
    min-width: 8px;
}

.h1 {
    font-size: 24pt;
    letter-spacing: -0.04em;
}

.h2 {
    font-weight: 300;
    font-size: 18pt;
    letter-spacing: -0.05em;
}

.h3 {
    font-size: 11pt;
}

.h4 {
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 6px;
    padding-top: 6px;
}

.primary {
    font-weight: 500;
    font-size: 1.22em
}

.dim-label {
    opacity: 0.75;
}

selection {
    background-color: #{"alpha(@accent_color_100, 0.3)"};
    color: #{"@accent_color_900"};
}
