window,
dialog,
messagedialog,
menu,
popover,
.titlebar,
.background,
.csd {
    background-color: bg_color(2);
    color: $fg-color;
}

window:not(.popup),
dialog {
    border-radius: 0 0 6px 6px;

    > decoration {
        border-radius: 6px;
        margin: 12px;

        &:backdrop {
            box-shadow: shadow(2);
        }
    }

    > headerbar.titlebar {
        border-radius: 6px 6px 0 0;
    }
}

window:not(.popup) {
    box-shadow: 0 0 0 1px $toplevel-border-color;

    > decoration {
        box-shadow: shadow(4);

        &:backdrop {
            box-shadow: shadow(2)
        }
    }

    &.tiled {
        > decoration {
            box-shadow: shadow(1);
        }
    }

    .titlebar {
        @extend %background-outset;
        background-color: #{"@color_primary"};
        box-shadow:
            outset-highlight("full"),
            0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.4)'},
            0 1px 2px rgba(0, 0, 0, 0.2);
        padding: 6px;

        @if $color-scheme == "dark" {
            box-shadow:
                outset-highlight("full"),
                0 0 0 1px #{'alpha(shade(@color_primary, 0.5), 0.5)'},
                0 1px 2px rgba(0, 0, 0, 0.2);
        }

        &:backdrop {
            box-shadow:
                outset-highlight("full"),
                0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.3)'},
                0 1px 2px rgba(0, 0, 0, 0.15);
        }

	    .title {
	        font-weight: 600;
	    }
    }
}

dialog {
    box-shadow: outset-highlight("bottom");

    > decoration {
        box-shadow:
            0 0 0 1px $toplevel-border-color,
            shadow(3);

        &:backdrop {
        box-shadow:
            0 0 0 1px $toplevel-border-color,
            shadow(2);
        }
    }

    > .titlebar {
        box-shadow: outset-highlight("top");

        label.title {
            font-size: 0.1px; // Workaround for an issue in Gtk when setting 0px
            color: transparent;
        }
    }
}

button {
    background-clip: padding-box;
    border-radius: 3px;
    //Explicitly set in case containers override default color
    color: $fg-color;
    //Off-by-one to account for padding-box clip
    padding: 4px 7px;
    transition: all 100ms ease-in;

    &:not(.image-button):not(.flat) {
        @extend %background-outset;
        background-color: bg-color(2);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow:
            outset-highlight("full"),
            0 1px 1px rgba(0, 0, 0, 0.03),
            0 1px 2px rgba(0, 0, 0, 0.1);

        &.titlebutton:not(:active) {
            background: none;
            border-color: transparent;
            box-shadow: none;
        }

        &:active,
        &:checked {
            background: rgba(0, 0, 0, 0.05);
            box-shadow: inset-shadow("");
        }

        &:disabled {
            background: rgba(0, 0, 0, 0.03);
            box-shadow:
                outset-highlight("full"),
                0 1px 0 0 #{'alpha(@highlight_color, 0.3)'};
        }
    }

    &:disabled {
        color: #{'@placeholder_text_color'};
    }

    &.combo,
    &.image-button,
    &.titlebutton {
        padding: 4px;
    }

    arrow {
        min-width: 16px;
        min-height: 16px;
        -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    }

    label {
        font-weight: 500;
    }
}

entry {
    background-color: bg-color(1);
    background-clip: padding-box;
    border: 1px solid $toplevel-border-color;
    border-radius: 3px;
    box-shadow: inset-shadow("");
    //Off-by-one to account for padding-box clip
    padding: 4px;

    &:disabled {
        background: rgba(0,0,0,0.03);
        box-shadow: inset-shadow("disabled");
        color: #{'@placeholder_text_color'};
    }

    image {
        color: #{'@placeholder_text_color'};
        transition: all 200ms ease-in-out;
    }

    image.left {
        margin-right: 6px;
    }

    image.right {
        margin-left: 6px;
    }

    // We only want the action side icon to react on hover
    &:dir(ltr) image.right:hover,
    &:dir(rtl) image.left:hover {
        color: $fg-color;
    }
}

popover {
    background-clip: padding-box;
    border: 1px solid $toplevel-border-color;
    border-radius: 6px;
    box-shadow: shadow(2);
    margin: 6px;
}

.sidebar {
    list {
        background-color: bg_color(3);
        padding-top: 6px;
        border-bottom-left-radius: 6px;

        row {
            padding: 6px 12px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.75);

                @if $color-scheme == "dark" {
                    background-color: rgba(255, 255, 255, 0.05);
                }
            }

            &:selected {
                background-color: bg_color(4);
            }
        }
    }
}

paned.horizontal > separator {
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.05) 1px,
            #fff 1px,
            #fff 2px,
            transparent 2px
        );

    @if $color-scheme == "dark" {
        background-image:
            linear-gradient(
                to right,
                rgba(0, 0, 0, 0.15) 1px,
                rgba(255, 255, 255, 0.01) 1px,
                rgba(255, 255, 255, 0.01) 2px,
                transparent 2px
            );
    }
    // This creates the invisible resize handle
    margin-right: -7px;
    min-width: 8px;
}

.h1 {
    font-size: 24pt;
    letter-spacing: -0.04em;
}

.h2 {
    font-weight: 300;
    font-size: 18pt;
    letter-spacing: -0.05em;
}

.h3 {
    font-size: 11pt;
}

.h4 {
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 6px;
    padding-top: 6px;
}

.primary {
    font-weight: 500;
    font-size: 1.22em
}

.dim-label {
    opacity: 0.75;
}

selection {
    background-color: #{"alpha(@accent_color_100, 0.3)"};
    color: #{"@accent_color_900"};
}

spinner {
    background-image: none;
    opacity: 0;
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");

    &:checked {
        opacity: 0.8;
        animation: spin 600ms linear infinite;

        &:disabled {
            opacity: 0.4;
        }
    }
}
