.background,
.gtkstyle-fallback {
    background-color: bg_color(2);
    color: $fg-color;
}

assistant,
dialog,
messagedialog,
message-dialog,
printdialog,
window.csd:not(.popup):not(.menu) {
    > decoration {
        margin: rem(12px);
    }

    > .titlebar {
        border-radius: rem(6px) rem(6px) 0 0;
    }
}

assistant,
printdialog,
window:not(.popup):not(.menu) {
    > decoration {
        border-radius: rem(6px) rem(6px) 0 0;
    }

    // We only draw shadows for client-side decorations
    &.csd {
        // Intentionally not in ems since it's used as a stroke
        box-shadow: 0 0 0 1px $toplevel-border-color;

        > decoration {
            box-shadow:
                // Force shadows to be the same size to prevent jumpy resize transition
                0 13px 16px 4px transparent,
                shadow(4);

            &:backdrop {
                box-shadow:
                    0 13px 16px 4px transparent,
                    shadow(2);
            }
        }

        &.maximized > decoration {
            background-color: black;
            border-radius: 0;
            box-shadow: none;
        }

        &.tiled:not(.maximized) {
            > decoration {
                background-color: black;
                border-radius: 0;
                box-shadow:
                    0 13px 16px 4px transparent,
                    shadow(1);
            }

            &.tiled-left {
                &.tiled-top .titlebar {
                    border-top-right-radius: 0;
                }

                &.tiled-bottom actionbar {
                    border-bottom-right-radius: 0;
                }
            }

            &.tiled-right {
                &.tiled-top .titlebar {
                    border-top-left-radius: 0;
                }

                &.tiled-bottom actionbar {
                    border-bottom-left-radius: 0;
                }
            }
        }

        .titlebar {
            box-shadow:
                outset-highlight("full"),
                // Intentionally not in ems since it's used as a stroke
                0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.4)'},
                0 1px rem(2px) rgba(black, 0.2);
            padding: rem(6px);

            @if $color-scheme == "dark" {
                box-shadow:
                    outset-highlight("full"),
                    // Intentionally not in ems since it's used as a stroke
                    0 0 0 1px #{'alpha(shade(@color_primary, 0.5), 0.5)'},
                    0 1px rem(2px) rgba(black, 0.2);
            }

            &:backdrop {
                box-shadow:
                    outset-highlight("full"),
                    0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.3)'},
                    0 1px rem(2px) rgba(black, 0.15);
            }

            &.default-decoration {
                padding: rem(3px);
            }

            &.flat {
                background: bg_color(2);
                box-shadow:
                    1px 0 0 0 $toplevel-border-color,
                    -1px 0 0 0 $toplevel-border-color,
                    0 -1px 0 0 $toplevel-border-color,
                    outset-highlight("top");
            }
        }

        // Fixes double shadow in HdyTitleBar
        stack.titlebar > .titlebar {
            box-shadow: none;
        }
    }

    &.rounded {
        border-radius: 0 0 rem(6px) rem(6px);

        > decoration {
            border-radius: rem(6px);
        }
    }

    // SSD doesn't calculate rems correctly
    &.ssd {
        decoration {
            border-radius: 6px 6px 0 0;
            // Can't be applied directly to the window
            box-shadow: 0 0 0 1px $toplevel-border-color;
            margin: 12px;
        }

        .titlebar {
            // Box shadow can't overlay content
            border-bottom: 1px solid $toplevel-border-color;
            border-radius: 6px 6px 0 0;
            box-shadow: outset-highlight("full");
            padding: 3px;

            button {
                border-radius: 3px;
                padding: 3px;
            }
        }
    }

    // Hdy.Window
    &.unified {
        border-radius: rem(6px);

        decoration,
        decoration-overlay {
            border-radius: rem(6px);
        }

        decoration {
            box-shadow:
                0 0 0 1px $toplevel-border-color,
                // Force shadows to be the same size to prevent jumpy resize transition
                0 13px 16px 4px transparent,
                shadow(4);

            &:backdrop {
                box-shadow:
                    0 0 0 1px $toplevel-border-color,
                    0 13px 16px 4px transparent,
                    shadow(2);
            }
        }

        decoration-overlay {
            box-shadow: outset-highlight();
        }

        &.tiled-left {
            &.tiled-top decoration-overlay {
                border-top-right-radius: 0;
            }

            &.tiled-bottom decoration-overlay {
                border-bottom-right-radius: 0;
            }
        }

        &.tiled-right {
            &.tiled-top decoration-overlay{
                border-top-left-radius: 0;
            }

            &.tiled-bottom decoration-overlay {
                border-bottom-left-radius: 0;
            }
        }

        .titlebar {
            box-shadow:
                outset-highlight("bottom"),
                // Intentionally not in ems since it's used as a stroke
                0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.4)'},
                0 1px rem(2px) rgba(black, 0.2);

            @if $color-scheme == "dark" {
                box-shadow:
                    outset-highlight("bottom"),
                    // Intentionally not in ems since it's used as a stroke
                    0 0 0 1px #{'alpha(shade(@color_primary, 0.5), 0.5)'},
                    0 1px rem(2px) rgba(black, 0.2);
            }

            &:backdrop:not(.flat) {
                box-shadow:
                    outset-highlight("bottom"),
                    0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.3)'},
                    0 1px rem(2px) rgba(black, 0.15);
            }
        }
    }

    .titlebar {
        // Etched in the light style, shadow in the dark style
        $shadow: 0 1px rgba(white, 0.5);
        @if $color-scheme == "dark" {
            $shadow: 0 1px rgba(black, 0.67);
        }

        @extend %outset-background;
        background-color: #{"@color_primary"};
        color: $fg-color;

        .title {
            font-weight: 600;
            text-shadow: $shadow
        }

        .subtitle {
            opacity: 0.75;
            font-size: 80%;
        }

        .titlebutton,
        .image-button,
        .mode-switch {
            -gtk-icon-shadow: $shadow;
        }

        // Reset so we don't affect things inside of child popovers/menus
        popover,
        menu {
            text-shadow: none;
            -gtk-icon-shadow: none;
        }
    }
}

dialog,
messagedialog,
message-dialog {
    border-radius: 0 0 rem(6px) rem(6px);
    box-shadow: outset-highlight("bottom");

    > decoration {
        border-radius: rem(6px);
        box-shadow:
            // Intentionally not in ems since it's used as a stroke
            0 0 0 1px $toplevel-border-color,
            // Force shadows to be the same size to prevent jumpy resize transition
            0 13px 16px 4px transparent,
            shadow(3);

        &:backdrop {
            box-shadow:
                // Intentionally not in ems since it's used as a stroke
                0 0 0 1px $toplevel-border-color,
                // Force shadows to be the same size to prevent jumpy resize transition
                0 13px 16px 4px transparent,
                shadow(2);
        }
    }

    > .titlebar {
        background-color: bg_color(2);
        box-shadow: outset-highlight("top");

        label.title {
            text-shadow: none;
            -gtk-icon-shadow: none;
            font-size: 0.1px; // Workaround for an issue in Gtk when setting 0px
            color: transparent;
        }
    }

    // These should should in 12px borders around buttons
    .dialog-action-area {
        // Compensate for off-by-one
        margin: rem(7px);
        margin-bottom: rem(8px);
    }
}

messagedialog .dialog-action-area,
message-dialog .dialog-action-area {
    // Double space between content and actions
    margin-top: rem(16px);
}
