---
name: Release

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  release_deb:
    name: Release (Deb)
    runs-on: ubuntu-latest

    if: github.event.pull_request.merged == true && true == contains(join(github.event.pull_request.labels.*.name), 'Release')

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Release
        uses: elementary/actions/release@main
        env:
          GIT_USER_TOKEN: "${{ secrets.GIT_USER_TOKEN }}"
          GIT_USER_NAME: "elementaryBot"
          GIT_USER_EMAIL: "builds@elementary.io"
        with:
          release_branch: "noble"
